[2016-03-11 19:06] hingermayank commented on #195
Yes. Something like handleBeforeInput is a cancelling event.

[2016-03-11 19:13] hellendag commented on #195
I would be fine with this. Would you like to submit a PR to replace `onPasteRawText` with `handlePastedText`?

[2016-03-11 20:10] hellendag commented on #191
Fixed by https://github.com/facebook/draft-js/commit/7d575904b9a8e5cac762a17c5c6ef5689e915993. Thanks @alunyov!

[2016-03-11 20:10] #191 closed

[2016-03-11 20:27] hingermayank commented on #169
@hellendag I have submitted the PR #199.

[2016-03-11 20:39] hingermayank commented on #195
Sure. I will do the changes and submit the PR.

[2016-03-11 21:53] remko commented on #190
@hellendag When you say `RichUtils`, you mean you'ld change it in `RichUtils.onDelete`, and assume the user that wants this behavior has `handleKeyCommand` hooked up to his component?

The alternative is to change the behavior in `removeRangeFromContentState` where the actual logic of joining the blocks is, making it default behavior.

[2016-03-12 13:38] AlastairTaft commented on #14
I get this issue on chrome\MAC. To get around it for now I'm using my own version of focus that calls the `getUnboundedScrollPosition` instead of `getScrollPosition`.

I can see that the problem area seems to be [the following lines](https://github.com/facebook/fbjs/blob/3df1c679208d405b5996fee684c9527a034e2f01/src/core/dom/getScrollPosition.js#L42-L43).

<img width="618" alt="screen shot 2016-03-

[2016-03-12 22:15] hellendag commented on #169
Was thinking I shouldn't close this since there was a broader question around mentions, but I'll go ahead and close it after all since the relevant PR is now merged.

[2016-03-12 22:15] #169 closed

[2016-03-13 12:48] vmakhaev opened #202 "Double symbol issue"
I'm trying to make collaborative editing for Draft based on CRDT. For this I need to store content state in database and send it between clients, while selection state can be stored in component's state. For this I deconstruct entity state in `onChange` handler and then construct it again in `render` function.
The problem is that on symbol input, it triggers `onChange` two times and and ends up wi

[2016-03-13 13:36] gscottolson commented on #202
You might consider `handleBeforeInput`.

[2016-03-13 15:23] vmakhaev commented on #202
@gscottolson I'm trying to use `handleBeforeInput`. I assume, that you mean that I should reject some symbols by returning `true`, but it is called just once, before `onChange` is called two times. So I can reject all input or nothing.

[2016-03-13 18:44] gscottolson commented on #202
I believe that modifying the editor state [within your `onChange` handler](https://github.com/vmakhaev/draft-js/blob/master/examples/issue/rich.html#L85-L88) might be contributing to your problem. Here is an [excerpt](https://github.com/facebook/draft-js/issues/92#issuecomment-189457952) from another issue:

I think you can use `EditorState.push` instead of [creating a new `EditorState`](https://g

[2016-03-13 19:01] vmakhaev commented on #202
@gscottolson `EditorState.push` works. Looks like I missed this moment in docs. Thanks.

[2016-03-13 19:01] #202 closed

[2016-03-14 04:55] thesunny opened #203 "Selection and Keyboard Navigation of Media Blocks"
This is a problem I've been thinking about for a week and I thought I'd start discussion on it.

The problem is how selection and keyboard navigation works with Media blocks.

I'm also focusing on the keyboard not the mouse.

There are two ways media types like images work in  other editors: (1) as inline elements (e.g. in Google Drive) and (2) as blocks (e.g. in Medium). I'm specifically targetin

[2016-03-14 05:29] mitermayer opened #204 "DraftBlockType has 'paragraph' as a type, however getElementForBlockType does not have paragraph reference"
getElementForBlockType is missing a paragraph definition

[2016-03-14 05:44] mitermayer commented on #204
added a PR for it https://github.com/facebook/draft-js/pull/205

[2016-03-14 05:48] mitermayer opened #206 "convertFromHTMLToContentBlocks has only support for h1, and h2. Missing other headers"
At the moment convertFromHTMLToContentBlocks does not support other headers

[2016-03-14 05:49] mitermayer commented on #206
Attached a PR for it on https://github.com/facebook/draft-js/pull/207

[2016-03-14 05:58] mitermayer opened #208 "Why inline styles are uppercase and other operations are lowercase"
Was wondering why the inline commands are on the format UNDERLINE BOLD ITALIC and the blockmode operations are header-one, header-two.

Would be great if we could use them either on a consistent way or case insensitive.

[2016-03-14 12:44] Terminux opened #210 "keyBindingFn SyntheticKeyboardEvent keyCode not case sensitive"
SyntheticKeyboardEvent.keyCode (or which) isn't case sensitive on the keyBindingFn function.
When I press the `A` key I get the code `65` (it's good) but when I press the `a` key I get the same code `65` instead of `97`.

Thanks in advance

[2016-03-14 15:33] hellendag commented on #210
Key bindings are triggered by keydown events, for which `keyCode` corresponds to the actual key being pressed, not the character that would be printed by the key.

https://www.w3.org/2002/09/tests/keys.html

The way to distinguish between the two in your key binding function would be to check whether the shift key is also being pressed.

[2016-03-14 15:33] #210 closed

[2016-03-14 15:34] hellendag commented on #208
Great question. This is due to refactoring over time, and is not intentional. Personally, I prefer the lowercase values.

[2016-03-14 16:12] dburrows commented on #170
We should be able to handle this in the proposed handlePastedText from https://github.com/facebook/draft-js/issues/195

[2016-03-14 18:08] CLowbrow commented on #170
Is this hitting the html parsing code path or is it going through plaintext? We do some weird detection in the html path that tries to use DIVs as blocks that we may want to just take out.

[2016-03-14 18:44] hellendag commented on #170
I think our HTML handling case here is not necessarily wrong. Pasting into a code block doesn't mean that the pasted contents should all be of block type `code-block`.

I think @dburrows has the right idea here.

[2016-03-14 21:33] lincolndbryant commented on #55
Thanks for looking into this.  We're still blocked from adopting DraftJS due to this, a release would be awesome. :)

[2016-03-14 22:27] DarkHorse16 commented on #49
https://play.google.com/store/apps/details?id=com.facebook.orca

Gerald Buffalo

[2016-03-15 02:55] mitermayer commented on #208
@hellendag How about we refactor the codebase to put everything lowercase, but still allow case insensitive to avoid breaking changes ?

[2016-03-15 02:56] mitermayer commented on #208
we could also somehow mark as deprecated the usage of upper-case commands

[2016-03-15 05:39] joesonw opened #211 "Trouble implementing custom block"
function use to insert custom block into draft
[code]

Custom block component

[code]

But somehow, i kept getting `Uncaught Error: Got unexpected null or undefined` and `Uncaught Invariant Violation: Unknown node in selection range` out of no where.

I ran the tex example, it went perfectly fine. But mine directly copied from tex example with just a bit tune, went south.

[2016-03-15 09:02] SamyPesse opened #212 "Tables & Overlapping entities"
First of all, thank you for your awesome work :beers:

I'm currently switching from `CodeMirror + Custom widgets` to `draft-js` for our [GitBook Editor](https://www.gitbook.com/editor).
I've started by implementing a library, [draft-markup](https://github.com/GitbookIO/draft-markup) to parse `Markdown` to `RawContentState`, and `RawContentState` to `Markdown` (or other markup syntaxes). You can se

[2016-03-15 09:40] LiaoSept commented on #194
@zpao based-browserify build

[2016-03-15 11:15] Sparadri commented on #160
hi guys,

could you please be a bit more explicit :) ?
would really need to use draftJS but cannot find any easy tutorial to get it installed on a rails app.

thanks a lot!

Adrien

[2016-03-15 15:13] hellendag commented on #212
My suggestion for tables is to use an entity and a custom block renderer with an input mechanism, much like the TeX example.

[2016-03-15 15:17] hellendag commented on #211
I'm fairly sure #200 will help here. Can you try adding those props to your `div` and see if that helps?

[2016-03-15 15:23] #212 closed

[2016-03-15 15:24] hellendag commented on #206
Thanks -- sorry about that!

[2016-03-15 15:26] hellendag commented on #187
Want to submit a PR to expose this?

[2016-03-15 16:51] thesunny commented on #211
I didn't look in detail but a quick glance of your code shows me one issue immediately. The first contentBlock has text of '' but should be ' '. That is, a space (or probably any character is okay).

You have a `characterList` that contains one character but it doesn't match with any text character. From my understanding, there should be a one to one relationship between `text` and `characterList`

[2016-03-15 16:56] joesonw commented on #211
this part was directly from tex example, other than the block type(which i
dont think is the issue here)
On Mar 16, 2016 00:51, "thesunny" <notifications@github.com> wrote:

[2016-03-15 17:06] hellendag commented on #211
@thesunny is correct, you need a character in your media block.

https://github.com/facebook/draft-js/blob/master/examples/tex/js/modifiers/insertTeXBlock.js#L73

[2016-03-15 17:09] joesonw commented on #211
wow, I didnt even noticed it, thanks a lot.

btw, love this project, the true editor framework.
On Mar 16, 2016 01:06, "Isaac Salier-Hellendag" <notifications@github.com>
wrote:

[2016-03-15 17:10] #211 closed

[2016-03-15 17:12] hellendag commented on #208
@mitermayer That sounds good to me.

[2016-03-15 18:29] ruipgil opened #213 "Version update"
Is it possible to have minor version update, so that we can have access to new functionality since ```0.2.2```?

[2016-03-15 21:12] hellendag commented on #213
Yeah, I'm probably going to push an update tomorrow. :) I always want to make sure that everything we're pushing in releases is already live in production on Facebook.

[2016-03-15 21:12] #213 closed

[2016-03-16 00:09] LucidityDesign opened #214 "iOS format tooltip button deletes text"
Hi,
when I select text in the demo, besides the usual copy, cut etc. options I can also select a text-format (**B** _I_ U) button:
![img_4239](https://cloud.githubusercontent.com/assets/2500326/13798010/55f65cc4-eae8-11e5-8c2e-9c44a33685ec.PNG)
So when I use these functions to format the text, the selected text or the text before the selection is deleted. Also the draft-js editor buttons (e.g. bol

[2016-03-16 00:59] hellendag commented on #214
This is an issue with iOS, and I'm not aware of a solution for it. https://bugs.webkit.org/show_bug.cgi?id=147406

I'd **_really_** like to have a way to disable it, because the mutations occur outside of Draft model reconciliation. It's basically just an uncontrolled DOM update and the only way to handle it would be to parse backward from the resulting DOM state, old-school. Bad.

(Also, why is t

[2016-03-16 09:13] joesonw opened #215 "Store custom inline styles in inlineStyleRanges while converting to raw?"
I noticed that the output of `convertToRaw` does not include custom inline styles.

for example, I tried to coloring my text. I did work in the editor. However, when I export(`convertToRaw`) them, it only includes those built-in inline styles (e.g, `BOLD`, `ITALIC`). Is there anyway around it?

[2016-03-16 13:28] LucidityDesign commented on #214
I was afraid, that this is a iOS bug.
Do you know why text of the line gets deleted? Can we fix this bug?

[2016-03-16 17:21] pdillon commented on #215
There's a PR with failing tests that addresses it - #158 . If it's not updated, I may submit my own this weekend to support it.

[2016-03-16 20:09] hellendag commented on #215
@pdillon Please do, that one has gotten a bit stale. :)

[2016-03-16 20:13] pdillon commented on #215
Submitted #217. Let me know if that's different from what you had in mind. Thanks!

[2016-03-17 08:27] hingermayank commented on #169
@hellendag what is that you are talking about?

[2016-03-17 12:18] Paul-Wray opened #218 "Typing ctrl-m in the editor causes an invariant violation"
To reproduce, focus on an empty editor and type (eg) x, ctrl-m, x.

Upon typing ctrl-m, the cursor returns to the beginning of the line, and a new block is created, but the second x is also within the first block, and the second block is empty. Both blocks have the same data-reactid. The first block seems to take up 2 lines (with the second line empty), and the second block is on the third line of

[2016-03-17 16:44] hellendag commented on #218
Nice catch. The browser should not be allowed to mutate the DOM this way, so the command should be added to https://github.com/facebook/draft-js/blob/master/src/component/utils/getDefaultKeyBinding.js.

[2016-03-17 17:48] hellendag commented on #214
The text is probably being deleted because the editor state and component are becoming confused by the native DOM changes. Once the DOM is out of sync, the editor can't reliably track state changes, including text entry.

The only way I can think of to cope with uncontrolled DOM changes like these would be to try to run the entire editor contents through the HTML-to-ContentState conversion utility

[2016-03-17 18:24] #153 closed

[2016-03-17 18:26] #215 closed

[2016-03-17 18:54] #206 closed

[2016-03-17 20:22] coryasato opened #219 "Binding left & right arrow keys?"
Doesn't fall through to the default behavior when returning false from a custom key handler.  Crawled the source code but couldn't find anywhere this is being handled.  I guess I could manually reset the selection every time after Im done listening in.  Perhaps theres an easier way?

[2016-03-17 20:33] hellendag commented on #219
What is your use case?

[2016-03-17 21:31] coryasato commented on #219
I'm trying to listen if the cursor is currently in an inline that has an Entity type of LINK to fire off a custom popover component to edit the href.  This will do a bit more, but for now baby steps.  Currently I can achieve this in the onChange event and a little tweak to the 'currentBlockContainsLink' helper.

[2016-03-17 23:25] hellendag commented on #219
If you don't mind positioning the flyout absolutely, outside the `Editor` itself, you can declaratively set whether to render it based on the current selection state.

`getVisibleSelectionRect` may need to be modified for the collapsed cursor, but otherwise, I'm thinking that it could be something like this:

[code]

[2016-03-17 23:46] coryasato commented on #219
Yup, thats pretty much what I'm doing. :)

We can close this issue if you think that binding to the left / right arrow keys is unnecessary or dangerous.  Thanks!

[2016-03-18 00:22] thesunny commented on #203
I haven't had time to try this but in case anyone wants to give it a shot, the newer versions of DraftJS support keyBindingFn. Basically it triggers before a key is typed.

Theoretically, we should be able to do an event.preventDefault() to stop the text from being typed when the selection is within a Media Block.

[2016-03-18 05:35] abeq opened #220 "Table editor"
Is there plan for table editor to make HTML table instance with GUI like as Google Doc?
And Is it built-in or plug-in in current plan?

[2016-03-21 01:36] Paul-Wray opened #221 "Custom styles raw encoding/decoding"
Custom styles don't seem to reach the raw-encoded output, although I find there is a test case which suggests that they should. I feel sure you would be aware of this, but I cannot find an issue or discussion for it. There is also an unanswered question on StackOverflow re this.
* Add (eg) SUP and SUB styles
* Apply custom styles to a block in the editor
* Export using convertToRaw
* Examine inlin

[2016-03-21 15:24] genyded opened #222 "Toolbars do not wrap properly on small devices"
Look at the OL toolbar button (in blue to the right in the attached screen shot) on an iPhone 6 device and you can seen it is outside the container:

![image](https://cloud.githubusercontent.com/assets/3081676/13923456/aea71c68-ef4e-11e5-980f-c13db29266bb.png)

This can be worked around by rotating the device, but it does not make for a good first impression.

[2016-03-21 15:31] hellendag commented on #222
I kind of want to remove H3-H6 from this example. I don't think it's really useful to have them there, since this is just a lightweight demo -- H1 and H2 are enough to get the point across.

[2016-03-21 15:32] hellendag commented on #221
This was merged as #217, and will be in the upcoming release. :)

[2016-03-21 15:32] #221 closed

[2016-03-21 15:35] hellendag commented on #220
My current suggestion is to use the block component approach demonstrated in the TeX example. You can render the table statically, then use a control to expose some way to edit it, perhaps as HTML or markdown.

There are no ongoing plans to incorporate table support directly within the Draft core.

[2016-03-21 15:35] #220 closed

[2016-03-21 15:40] hellendag commented on #219
I think they could be exposed the same way as the up and down arrow keys, especially if it allows better keyboard navigation for flyouts. For instance, I could imagine a mentions result dropdown that allows two dimensions of navigation.

I haven't seen a need for it yet, so I'm fine with holding off for now. But if anyone should see this issue and want to offer up a PR to solve a need, I'm open to

[2016-03-21 15:40] #219 closed

[2016-03-21 15:42] hellendag commented on #198
If we move toward a nested structure for the model, this will probably be resolved. For now, I'm going to close this since I think we're stuck with this behavior as long as `ol` lists are rendered this way.

[2016-03-21 15:42] #198 closed

[2016-03-21 19:31] cogell opened #223 "Question: Why wrap RichUtils calls in this.onChange calls?"
I've noticed in the examples that style changes are made with calls to `RichUtils` nested in `this.onChange` calls (where `this` is the editor component).  Example:
[code]

It seems that the call to `RichUtils.toggleInlineStyle` alone will trigger a `onChange` call via `EditorState.push`.  So the above code calls onChange twice.

Is my understanding of that correct?

[2016-03-21 19:58] spicyj commented on #223
EditorState.push returns a new state with an updated undo stack – by design, it doesn't actually mutate anything. If you want to actually use that new state you need to store it yourself in state and cause a rerender.

[2016-03-21 19:58] #223 closed

[2016-03-22 00:28] Paul-Wray commented on #221
Doh, thanks.

[2016-03-22 18:15] brookslyrette opened #224 "Unable to set focus to end of textarea"
I'm prepopulating draft-js with content but when I do focus is always at the start:

<img width="402" alt="screen shot 2016-03-22 at 2 10 05 pm" src="https://cloud.githubusercontent.com/assets/1881100/13962605/1b0eef68-f038-11e5-8f3b-7136dfedc85a.png">

I'm setting the value in my constructor:

[code]

Selection after seems to be ignored. I've also tried forcing this in `componentDidMount` to no a

[2016-03-23 00:26] hellendag commented on #224
A couple notes:

- I suggest using `EditorState.createWithContent` to initialize, rather than using `createEmpty` and pushing. Unless you want the user to be able to undo back to an empty state.
- You can use https://github.com/facebook/draft-js/blob/master/src/model/immutable/EditorState.js#L318 to move the focus to the end of the editor. This is missing from the docs on draftjs.org, and should p

[2016-03-23 00:26] #224 closed

[2016-03-23 08:02] FakhruddinAbdi opened #226 "when npm run build : events.js:154 throw er; // Unhandled 'error' event"
I have cloned draft-js and after npm i, at the first attemp of npm run build , it came across the error below :

[code]

[2016-03-23 10:32] FakhruddinAbdi commented on #226
#https://github.com/babel/babel-loader/issues/132

[2016-03-23 10:33] FakhruddinAbdi commented on #226
https://github.com/babel/babel-loader/issues/132

[2016-03-23 10:34] #226 closed

[2016-03-23 11:41] brookslyrette commented on #224
Thanks @hellendag. Your suggestions worked perfectly.

[2016-03-23 17:40] maxmatthews commented on #77
@mitermayer Do you have example code of how to get this working in Browserify? I'm only familar of how to get it working when it's just a `require` not an `import`

[2016-03-23 18:27] maxmatthews commented on #77
For anyone else who stumbles upon this, import is an ES6 thing that is not yet supported in Browersify without something like Babel. http://stackoverflow.com/questions/33042867/browserify-import-require
I didn't feel like installing Babel, so I ended up with this as a solution:
[code]
Which lets you use `<Editor />`
I happen to be using Meteor with Broswerify.

[2016-03-23 19:28] rnicholus opened #228 "Current inline styles are lost when block type is changed"
I noticed this when integrating Draft.js into my own application. In my case, I was setting per-block alignment based on user input by changing the block type using `RichUtils.toggleBlockType`. When I do this, if there are any existing currently inline styles, they are lost.

I can reproduce the same behavior on the [live Draft.js demo](https://facebook.github.io/draft-js/). Steps to reproduce:

1

[2016-03-23 23:39] sstur commented on #52
I'll take this on if that's OK with @ezequiel.

[2016-03-24 00:19] hellendag commented on #228
To clarify, are you selecting "Bold" while the cursor is in a collapsed (zero-character) state, then switching to H1?

If so, the reason is that `inlineStyleOverride` is nullified when pushing a new `ContentState`: https://github.com/facebook/draft-js/blob/master/src/model/immutable/EditorState.js#L388

This could probably be avoided here if the `EditorChangeType` is `'change-block-type'`. If you'

[2016-03-24 04:50] varun-raj commented on #160
Should we use browserify for this ? or without it we can implement ?

[2016-03-24 14:33] rnicholus commented on #228
Yes, that is correct. The same issue occurs when I select H2, H3, or any other button that changes the block type.

Adjustments to the push method of `EditorState` suggest that you are correct. Thanks for your help! I'll follow up with a pull request shortly.

[2016-03-24 16:38] rnicholus commented on #228
I just opened up a PR - #229.

[2016-03-24 17:19] ianstormtaylor commented on #93
Just wanted to say +1 to this.

I think it's one of the most important pieces to unlock in core to make Draft.js a complete (and amazing) solution for building editors. Since the current core is so flexible, most other features can be created entirely in "userland", but this one would need a bit more work in core to make happen. And it would end up being amazing.

[2016-03-24 19:17] #228 closed

[2016-03-24 20:18] ianstormtaylor opened #230 "convertToRaw and convertFromRaw not quite parallel"
Hey, first off let me just say thanks for the awesome library! Currently getting familiar with it, and implementing HTML parsing to be able to store content as HTML in the database, but use Draft as the editor. Love the concept of it.

I noticed that `convertToRaw` and `convertFromRaw` aren't quite parallel, and I was wondering why? `convertFromRaw` returns an array of `ContentBlock`s that you hav

[2016-03-24 23:30] hellendag commented on #230
You're absolutely right, it's an odd asymmetry.

I don't think I made the decision intentionally, it just turned out that way. I was probably thinking I'd want to have flexibility with `selectionBefore` and `selectionAfter` within `convertFromRaw`, but in practice I doubt anything was really ever gained.

`convertFromRaw` should probably be changed to return a full `ContentState`. It would be a br

[2016-03-24 23:31] hellendag commented on #218
If anyone is looking for an easy PR to dip a toe into the codebase, this would be a good one. :)

[2016-03-25 02:33] benbriggs opened #231 "Empty blocks not included by convertFromHTML"
HTML equivalent to a block with no text are omitted from the output of `Draft.convertFromHTML`.

Steps to reproduce:

[code]

@hellendag mentioned in Slack that @CLowbrow might know most about this - I'm happy to PR a change to fix it but could use a bit more context on what the [condition](https://github.com/facebook/draft-js/blob/master/src/model/encoding/convertFromHTMLToContentBlocks.js#L183-L

[2016-03-25 07:28] CLowbrow commented on #231
This was on purpose to keep pastes of long text from having a lot of extra spaces between paragraphs. The content coming in can be pretty messy sometimes and this is one of the things we try to do to clean it up. I'm open to modifying this. What kinds of things are you trying to preserve?

[2016-03-25 14:48] benbriggs commented on #231
Ah I see. I'm using this module along with another that I built to go to/from HTML for saving the contents, so the empty block tags are actually coming from a transformation of `ContentState`. I didn't use this as my initial example since it added extra complexity but having three `ordered-list-item` blocks:

1. first
2.
3. third

That `ContentState` is going to have three blocks that'll map to `<

[2016-03-25 15:08] diki commented on #218
I would like to work on that this weekend

[2016-03-25 17:44] hellendag commented on #73
`EditorState.moveFocusToEnd` is now added to the [docs](http://facebook.github.io/draft-js/docs/api-reference-editor-state.html#movefocustoend), so I'm going to go ahead and close this.

[2016-03-25 17:44] #73 closed

[2016-03-25 17:44] hellendag commented on #163
@Daniel15 Still want to add this? :)

[2016-03-25 17:45] Daniel15 commented on #163
Yeah, sorry I haven't gotten around to it yet.

--
Regards,
Daniel Lo Nigro
http://dan.cx/ | Twitter <http://twitter.com/Daniel15> | Facebook
<http://www.facebook.com/daaniel>

On Fri, Mar 25, 2016 at 10:45 AM, Isaac Salier-Hellendag <
notifications@github.com> wrote:

[2016-03-25 17:48] #195 closed

[2016-03-25 17:55] CLowbrow commented on #231
Storing draft.js content as html is probably not the way to go. Internally, we store a serialized content state and just re-instantiate/render from that. The paste handler is more tailored to minimize the amount of follow-up editing after a paste than faithfully recreate document states.

[2016-03-25 17:57] ianstormtaylor commented on #231
@CLowbrow question, what are the negatives you'd point to to storing content as HTML?

It totally makes sense that the internal `convertFromHTML` is used for copy-pasting, which is going to have different needs than an HTML (de)serializer, so it probably shouldn't be used for that. But just wondering if beyond that, are there specific things that would make you still not use HTML even if someone w

[2016-03-25 18:05] CLowbrow commented on #231
Nothing huge. In my brain it makes more sense to store document data in the format the editor uses since you don't have to worry about doing the transformation both ways (just have to worry about converting to html on demand). Parsing html client-side to initialize the editor state is a bunch of extra work. If you really need html stored, I would probably double write an editor state and the html

[2016-03-25 19:21] benbriggs commented on #231
My use case is similar to that of @ianstormtaylor where I have clients that needs HTML to process, so I use HTML to persist to the server. In my implementation I'm actually customizing a separate version of `convertFromHTML` to accommodate a plugin system I'm building (i.e. it's never being used for pasted data) so I'll make the changes to that version to not omit blocks. I figured I'd explore whe

[2016-03-25 19:56] christophercliff commented on #167
Might be opening a can of worms, but something like this might work too:

[code]

[2016-03-25 20:11] christophercliff opened #232 "Entity should terminate when typing"
##### 1. Select text

![screen shot 2016-03-25 at 3 03 28 pm](https://cloud.githubusercontent.com/assets/317601/14052808/f0220c62-f29a-11e5-86c6-8ffe6f72691f.png)

##### 2. Create link entity

![screen shot 2016-03-25 at 3 03 39 pm](https://cloud.githubusercontent.com/assets/317601/14052812/f028269c-f29a-11e5-81d2-907841b76824.png)

##### 3. Move cursor to end of entity

![screen shot 2016-03-25 a

[2016-03-25 20:36] ianstormtaylor opened #233 "onChangeContent and onChangeSelection"
In working with the current `Editor`, I was wondering if you'd considered adding these two conveniences. `onChangeContent` would only fire when the content itself changes, so that developers don't have to worry about diff'ing it themselves, which would be what you want to listen for to save the content somewhere.

`onChangeSelection` would be the same, but only for the selection.

Just a thought!

[2016-03-25 20:50] zpao commented on #160
You can use browserify but that's up to you and your packaging needs. Otherwise as Ben mentioned you can use something like npmcdn to get the dist files with just a `<script>` tag, just like you would do with any other external resource.

[2016-03-25 23:13] ianstormtaylor opened #234 "insert softbreak on shift-enter inside blocks"
I just noticed that inside of blocks like `blockquote` and `list-item` it's impossible to create "soft-breaks", which are usually created by pressing `Shift-Enter`. Right now that will just act as `Enter` will, creating a new block below the current one.

[2016-03-26 04:05] hellendag commented on #234
If you're referring to the `rich.html` example, I think soft newlines are always being treated as full block breaks.

You can use https://github.com/facebook/draft-js/blob/master/src/model/modifier/RichTextEditorUtil.js#L81 for this in your editor, if you'd like to support soft newlines instead.

[2016-03-26 04:05] #234 closed

[2016-03-26 04:06] hellendag commented on #233
You shouldn't need to diff anything. Since the objects are immutable, it's just a matter of equals-checking.

[code]

[2016-03-26 04:06] #233 closed

[2016-03-26 04:07] hellendag commented on #233
The idea throughout is that you can use `onChange` for everything that occurs, then just do a quick comparison. :)

[2016-03-26 04:09] hellendag commented on #232
The behavior here is entirely up to you. :)

If you'd like to break the entity on whitespace, you can use `handleBeforeInput` and disallow the entity from being preserved on the inserted character if it's a whitespace character.

http://facebook.github.io/draft-js/docs/api-reference-editor.html#handlebeforeinput

[2016-03-26 04:09] #232 closed

[2016-03-26 10:53] johanneslumpe commented on #164
@remko Did you figure out how to get the DOM node from a selection? I ran into this issue today while trying to position a context menu next to a selection.

[2016-03-26 11:39] remko commented on #164
@johanneslumpe `getVisibleSelectionRect` helps, but I still had to do something for collapsed selections. The code I currently have is

    let rect = getVisibleSelectionRect(window);
    if (!rect) {
      const selection = window.getSelection();
      if (selection.anchorNode) {
        rect = selection.anchorNode.getBoundingClientRect();
      }

Not entirely confident if this is how it's suppo

[2016-03-26 11:49] johanneslumpe commented on #164
@remko how so? What was the specific issue you ran into with a collapsed selection? When I detect a collapsed selection I just hide the menu, which seems to work fine. I noticed another issue though that when calling `focus` on the editor, the selection changes and my menu re-renders at the top left corner of the editor, until I change the selection did you notice something like this too?

[2016-03-26 23:07] diki commented on #218
@hellendag i am working on understanding the code generally. What i realized so far is `gulp watch` does not create `dist` files because it runs only `modules`. So instead of running `gulp build` on change i needed to add `dist` to `watch`, then i could see changes on refresh. Do you consider a PR for this?

[2016-03-27 13:16] brookslyrette commented on #218
TIL: Ctrl + M is a carriage return: https://en.wikipedia.org/wiki/Carriage_return

Should `cmd + M` new block or be ignored?

[2016-03-28 05:31] aaronshaf opened #236 "convertFromHTML not documented"

[2016-03-28 05:41] aaronshaf opened #237 "convertFromHTML doesn't include anchor tags"
[code]

This seems to strip the anchor tag.

[2016-03-28 14:06] johanneslumpe opened #238 "[Q] Allow a custom block to retrieve data to render via an injected getter function"
This is a general question regarding plugin architecture and the dos/don'ts. Should the content block rendered by a plugin only ever user entity meta data to render its content? It seems logical to do so, but what if we have a list of items from which a user can select and that list of items can be modified. If an entity would store that information, it would become stale. In such a case I feel th

[2016-03-28 17:14] hellendag commented on #238
You should feel free to pass through any props you need to your custom block component -- it does not have to be restricted purely to entity data.

One point worth noting: if your custom block should re-render independently of other content changes, you may want to use internal state or a subscription on your custom block to trigger this independent re-rendering.

[2016-03-28 17:14] #238 closed

[2016-03-28 17:18] hellendag commented on #236
cc @CLowbrow @mitermayer

We could probably have a little information on this in the http://facebook.github.io/draft-js/docs/api-reference-data-conversion.html#content section.

[2016-03-28 17:32] CLowbrow commented on #236
I can write something this week if you want to give this to me.

[2016-03-28 17:50] hellendag commented on #237
Yeah, looks like the link is stripped. @CLowbrow, intentional?

[2016-03-28 17:53] hellendag commented on #230
Would you like to submit a PR for this?

[2016-03-28 19:12] #218 closed

[2016-03-28 20:43] johanneslumpe opened #240 "Removing an entity from the end of the editor content breaks state"
I noticed that when an entity is decorated and the decorator adds additional content, then removing an entity again by setting it to `null` for a selected range does not work if the  entity extends all the way to the end of the content. Removing it works fine and the beginning and in mid-text. If the decorator does not return additional characters (in my case the numbers after the links) then it w

[2016-03-28 20:57] ianstormtaylor opened #241 "change types undocumented, and can be simplified?"
Hey, right now it looks like the `EditorChangeType` logic is undocumented, except for a mention of it in [the `EditorState.push` doc](https://facebook.github.io/draft-js/docs/api-reference-editor-state.html#push).

I was also wondering while looking through it, might it be easier to instead create `Change` (or `Modification`) objects that have an associated type, and apply them directly with `.pus

[2016-03-28 21:00] johanneslumpe commented on #240
So the issue here is that appending of text inside a decorator is not supported. Closing.

[2016-03-28 21:00] #240 closed

[2016-03-28 22:44] ianstormtaylor commented on #161
I'm running into the same selection behavior. When I `replace-text` matching all of the text in the current block, the selection jumps to the previous block and I have to reset it manually.

(In my case I'm matching a `>` input character at the start of a line to create a `blockquote` by replacing text, then setting the block type. Although either order of operations causes the same selection jump

[2016-03-28 22:51] ianstormtaylor opened #243 "remove "current" from getCurrentContent and getCurrentInlineStyle"
Right now `getSelection`, `getCurrentContent` and `getCurrentInlineStyle` aren't quite parallel, even though they all return the "current" representation. I'd propose removing `Current` from the latter two, since it's pretty clear still without needing to say "current", and it saves verbosity.

[2016-03-29 00:59] ianstormtaylor commented on #241
Using it more, the current API feels very convoluted to work with, having to remember that `Modifier` takes a `ContentState`, while `push` takes an `EditorState`. (If transforms were to be applied to `SelectionState` as well later on, only taking `ContentState` would be a problem.)

Taking the concept further, it wouldn't be far off to be able to expose convenience methods for creating and applyin

[2016-03-29 04:53] mitermayer commented on #218
@diki this PR is already here https://github.com/facebook/draft-js/pull/242

[2016-03-29 04:56] mitermayer commented on #236
Happy to help on it too, @CLowbrow let me know if there is anything I can do on it. :)

[2016-03-29 10:05] marcboeren commented on #237
It seems only http: and https: protocols are allowed (hasValidLinkText), so no relative urls or mailto: links?
My workaround was to remove the hasValidLinkText check and now any href is allowed.
(/src/model/encoding/convertFromHTMLToContentBlocks.js)

[2016-03-29 11:38] johanneslumpe opened #246 "RFC: Composite entities"
This is more of a brainstorming/discussion issue. Currently we can only apply a single entity per character. For simple things this is totally fine. But as soon as we want to handle more complex things like adding text when applying an entity, things get hairy.

Imagine we have the following situation: A user can highlight some text and assign some kind of highlight to it. This highlight should:

[2016-03-29 15:21] hellendag commented on #243
I had actually been thinking I'd prefer to call them `getSelectionState` and `getContentState`, to make it clearer what is actually being returned.

For `getCurrentInlineStyle`, I guess my goal was to try to clarify that the value being returned is either the inline style override or the style determined via the contents and selection. Like, this is the inline style you will have right this second

[2016-03-29 15:33] hellendag commented on #241
Thanks for opening this. I always enjoy a good API discussion. :)

The goal of the `Modifier` methods is to provide `ContentState` objects that the caller can then perform further operations on. This is independent of any modifications to the `EditorState` -- the end goal of a `Modifier` method output value is not always to `push`.

If a different type of object (i.e. `Change`) were returned inste

[2016-03-29 15:46] ianstormtaylor commented on #124
+1 to the idea of `AtomicBlock`. Would it then be possible to do as @angelf is doing and instead of using entity information inside the block to wrap the `AtomicBlock` instead? Reaching a pseudo-entity seems a bit weird, vs. inheriting and adding custom functionality to the block itself instead. (But I might be misunderstanding!)

[2016-03-29 16:17] ianstormtaylor commented on #246
I've been having similar thoughts, around how to handle highlighted ranges as entities, and more generally about how to have nested entities at all. The use case that I find most compelling (and seemingly impossible to solve now?) is:

[code]

With that structure, I'd like to add a `comment/highlight` entity that spans multiple blocks, including the one with the image. Or similarly:

[code]

Even

[2016-03-29 16:29] ianstormtaylor commented on #243
Ah nice, `get*State` makes sense for clarity. (Although, might argue dropping the "state" everywhere, since it can be implied after a first read through an introduction to the data model in the docs, since after that people know what Draft works with.)

For inline, I didn't realize that actually! (Poor reading comprehension :) Might be clearer as `getSelectionInlineStyle`? Something to tie it to t

[2016-03-29 16:41] ianstormtaylor commented on #241
Ah interesting, that makes sense. I think framing it in terms of transactions that can be applied to the editor is still useful (and required for implementing any sort of collaboration). In the `Modifier` case, it's already fairly close. Instead, "transforms" could be applied to either `EditorState`, `ContentState` or `SelectionState`. Something like:

[code]

This would be the equivalent of the c

[2016-03-29 17:02] ianstormtaylor commented on #243
(Side thought about naming for `state`.)

I wonder if it makes sense to remove the `State` suffix everywhere, since it can be implied after learning how Draft stores data, which is already required to start using Draft. This would save a lot of typing, for not that much loss, I _think_.

`ContentState` and `contentState` become `Content` and `content`. `SelectionState` and `selectionState` become

[2016-03-29 17:23] hellendag commented on #243
I actually really like the idea of tidying up the class names, and I have thought a lot about it.

I didn't do this prior to open sourcing because within the FB codebase we would have ended up with module naming conflicts, as all of our module names occupy the same namespace. I might have caused some grief among other engineers by naming my own modules things like `State`. :)

Going a step further

[2016-03-29 18:29] ianstormtaylor commented on #243
Ah, didn't realize that for FB modules. On that one I obviously can't help :stuck_out_tongue: but hopefully that limitation wouldn't impact the open-source version? (Although now I think I know why Relay also has verbose naming :smile:, since it's still being relied on internally and ported over.)

I personally think `State`, `Content` and `Selection` as terms inside of Draft.js aren't too generic

[2016-03-29 18:49] CLowbrow commented on #237
Yep, this is pretty aggressive. I assume we did this to not let stuff like `<a href="javascript:getPwned();"></a>` through. We can accept more stuff, but someone has to think through the security implications.

[2016-03-29 18:55] CLowbrow commented on #236
@mitermayer thanks! I'm going throw something together and send a PR. Would be great to get your feedback/edits once I have something.

[2016-03-29 20:27] johanneslumpe commented on #246
@ianstormtaylor That sounds interesting, though I feel that this requires a rather drastic change. The beauty of only allowing a single entity per character lies in the simplicity of it. I do agree though that if somebody wants to highlight a line which also contains a mention or something else, then this falls apart quickly.

I'm wondering how this model would work if you have a mention in a text

[2016-03-29 20:56] remko commented on #190
@hellendag *bump* There's some comments spread around some issues and PRs on Draft block join/split behavior (this issue on joining, there's a mention about splitting on https://github.com/facebook/draft-js/pull/216#issuecomment-197979832, #188 on splitting blocks). Could you confirm which behavior you'd accept changes for where? I'm going to need these behaviors soon, so I'd like to figure out wh

[2016-03-29 22:52] ianstormtaylor commented on #246
From the conversation with @hellendag from Slack, the takeaways were:

- Nesting of decorators would get very complex, best to avoid this if possible. Worst case allow a single level of nesting, but still complex.
- The highlighting use case is a valid one though.
- We should be able to handle the highlighting use case with inline style ranges, if we can associate metadata with those ranges. This

[2016-03-30 00:57] ianstormtaylor commented on #170
I'm running into this as well, but for raw text, not HTML. In the case of pasting raw text, I think all of the text should be contained within the code block. Right now only the first line is contained.

[2016-03-30 10:56] nickhsine commented on #211
@joesonw @hellendag @thesunny
I am encountering the same problem.
Even if I add a space in the text field, like  ``` text: ' '```,
and I am getting the same error ```Uncaught Error: Got unexpected null or undefined``` and ```Uncaught Invariant Violation: Unknown node in selection range```.

[2016-03-30 11:02] Philin-Anton opened #248 "Text Alignment"
I really like this feature, but it is not able to align text, tell me how to do it?
PS with example code please, thanks!

[2016-03-30 15:44] diki commented on #218
@mitermayer thanks, i was wondering if i was missing something.

[2016-03-30 16:16] brookslyrette commented on #147
Are you still working on this one @mitermayer? If not I'll give it a try.

[2016-03-30 22:06] akprasad opened #249 "Editor renders incorrectly when state is reset inside handleReturn"
(Context: I want to use draft-js as a richer `<input type="text">`. To do so, I'd like to get the editor's text value and clear it when the user presses enter.)

If you try to reset the editor state within `handleReturn`, the editor renders later text incorrectly, i.e. on multiple lines and with broken cursor/delete behavior.

Here's a minimal jsbin. See the comments to reproduce:
http://jsbin.com

[2016-03-30 22:22] victorhaggqvist commented on #14
Can reproduce with ArchLinux Chrome Version 51.0.2687.0 dev (64-bit), but it works with Chromium Version 49.0.2623.110 (64-bit).
Tested on https://facebook.github.io/draft-js/ which atm claims Draft v0.3.0, ReactDOM v0.14.7, React v0.14.7.
Tested on the thing i was working on as well, Draft v0.3.0, ReactDOM v15.0.0-rc.2, React v15.0.0-rc.2, with the same result.

[2016-03-30 23:50] benbriggs commented on #231
For future reference, I found a solution that seems to work. In the condition in `joinChunks` linked above, the block was being omitted when joining the ending 'block divider chunk" (a chunk with text of `\r`) to the block's chunk that is just another divider chunk, since it has no text. So the join was essentially of two divider chunks, something that (from what I can tell) only happens when crea

[2016-03-31 02:13] nickhsine opened #250 "trouble for using custom block"
This issue is related to this one, https://github.com/facebook/draft-js/issues/211
I am modifying the `tex` example; I change the block type from `media` to `tex`.
However, deleting the `TeXBlock` by typing backspace occurs the `Uncaught Error: Got unexpected null or undefined` and `Uncaught Invariant Violation: Unknown DraftEntity key.` error.
Should the custom block type be one of the `DraftBloc

[2016-03-31 05:26] tasti commented on #250
The reason why you're seeing the error is due to special backspace handling for `media` block types as you can see https://github.com/facebook/draft-js/blob/master/src/model/modifier/RichTextEditorUtil.js#L123.

One way to solve this would be to write your own `handleKeyCommand`, which isn't great.

A more reusable approach would be to have block types that can inherit traits from one of the defau

[2016-03-31 05:59] tasti commented on #249
This came up before, see https://github.com/facebook/draft-js/issues/73#issuecomment-191394559 :)

[2016-03-31 06:58] nickhsine commented on #250
@tasti
Thanks for your quick response :)

However, how can I let the draft-js core to do ```block.getType().startsWith('media')```?
Or will this thought be implemented in the future?

[2016-03-31 16:37] tasti commented on #250
This would need a bit more discussion in case there are better alternatives (my suggestion was what first came to mind).

If you want, you can create a PR by changing all instances in the core to `block.getType().startsWith('media')` and we can investigate from there.

[2016-03-31 18:10] akprasad commented on #249
Thanks, this seems to work.

IIRC, the issue is that `editorState` doesn't model blur, so its behavior is undefined when we reset the state while the editor is focused. Is that about right?

[2016-03-31 19:04] coryasato opened #251 "handlePastedText is listed in docs but not in npm code yet."
I had to fork, build and copy over editOnPaste to get DraftEditor.handlePastedText.  However, this is listed in the docs https://facebook.github.io/draft-js/docs/api-reference-editor.html#handlepastedtext at the moment.  Curious when the next npm bump is going to be as I need to access the html onPaste to clean up some things (i.e. tables, pasted code from github, etc.).

*Side note: Whats the rec

[2016-03-31 19:17] JohnCoates commented on #36
That's a good solution, but because the code run as a content script, it unfortunately doesn't have access to paste unless it's triggered by a user action. Since the action happens in the panel which is in the extension's sandbox, the user action can't be passed to the content script.

I've found that this code works well:
[code]
Still having an issue with the caret not moving forward after the fi

[2016-03-31 21:45] hellendag commented on #249
Yeah, if the `EditorState` doesn't have awareness of what the DOM focus state is, you can get into a bad state. It's always good to establish the proper focus state on your `EditorState` if you are clearing it.

[2016-03-31 21:45] #249 closed

[2016-03-31 21:46] hellendag commented on #248
Not sure what you are referring to. If you use the `textAlignment` prop on `Editor`, it will align your text for the entire editor.

[2016-03-31 21:52] hellendag commented on #251
I've generally been doing releases on Tuesday afternoons to allow all released changes to already be live in production on FB, as that is when our major weekly release occurs. I'll see about doing one a little sooner than that.

Sorry for the confusion re: docs -- this is an unfortunate drawback of our auto-syncing docs without also pushing a release.

I'm pretty new to npm, so I'm not actually su

[2016-03-31 22:42] ianstormtaylor opened #252 "allow for commands to take arguments?"
Right now it looks like commands can only be simple strings, things like `undo`, `redo`, `delete-word`, etc. Which works for all of the natively-defined commands, but isn't extensible for "userland" things. For example, I'd like to be able to handle commands in a single spot for inserting images. It seems like it would be nice if I could:

[code]

Where command is:

[code]

I think this would make

[2016-03-31 22:47] ianstormtaylor commented on #252
I think I'm still fighting against the fact that Draft isn't architected (yet/almost) as a system that takes transformations (eg. commands) and applies them, resulting in a content state. It seems like it's so close, and that making that change would simplify the way to think about a lot of the logic around `Modifier`s.

But I feel like I'm still not grokking something about the current architectu

[2016-03-31 22:53] ianstormtaylor commented on #251
Makes sense re: Tuesdays. For upcoming releases you can use npm's [`dist-tag`](https://docs.npmjs.com/cli/dist-tag) feature I believe, to create another tag other than `latest` (which is the default) with the current source on master (you'd need to bump in `package.json`). The other tag tends to be called `next`. For an example of a library in the wild that uses that practice, check out [Koa](http

[2016-04-01 00:14] tasti opened #253 "Replace window.prompt in media example"
I didn't see https://github.com/facebook/draft-js/issues/91 until now, so I think it's worth switching away `window.prompt` for a regular input like https://github.com/facebook/draft-js/pull/110.

[2016-04-01 00:21] ianstormtaylor opened #254 "don't apply `CODE` styles to `code-block` blocks"
It looks like right now `CODE` style ranges are being applied to everything inside of the `code-block` blocks, but I think these two things should be separated.

The `CODE` inline range could have things like borders, paddings, etc. applied to them, and if they do then they break `code-blocks` styles (which have to be removed with `!important`). Instead, I think people should just apply the same `

[2016-04-01 00:46] zpao commented on #251
We've been doing `next` for React as well. When the release cycle is as fast as draft is going, I'm not sure how valuable publishing an alpha as next would really be. 0.3 is a week old and there have been 2(?) commits to src/ since then. If you absolutely need the latest before it ships anywhere, you can always build locally.

[2016-04-01 02:19] nickhsine commented on #250
You mentioned that writing ```handleKeyCommand``` isn't a good way.
Could you explain more why it isn't good?
I think use media as prefix, such as ```media-tex```, is kind of implicit.

[2016-04-01 03:07] tasti commented on #250
Could you explain more why it isn't good?

I meant it in the sense that you'd lose and have to reimplement everything in `RichTextEditorUtil. handleKeyCommand()` if you wanted all of it.

Now that I think about it, you don't really need to. You can create a chain of `handleKeyCommand`s, and if your check fails (returns `null`), then use `RichTextEditorUtil. handleKeyCommand()`.

It is, and since t

[2016-04-01 04:00] nickhsine commented on #250
Yes, this is what I want to implement. Use my own ```handleKeyCommand``` handler first, if fails, then use ```RichTextEditorUtil. handleKeyCommand```.

thanks for your suggestion :)

[2016-04-01 16:23] adrianmc commented on #93
@rgbkrk Have you come to a conclusion on which of the algos you've mentioned might be most suitable?  I'm just getting started researching this and I'm about to read the pages you've linked to. Personally, the first thing that came to mind was [CRDT](https://en.wikipedia.org/wiki/Conflict-free_replicated_data_type) which was implemented in this project: https://github.com/ritzyed/ritzy

He goes in

[2016-04-01 22:11] guitardave24 commented on #203
Thank you for typing this up, @thesunny, this is an almost exact articulation of what I'm looking at to. I'm surprised that it hasn't gotten more attention/comments though.

Aside: It seems Facebook Notes handles this by not allowing you to "select" an image, but instead just manipulate it directly by selecting options on-hover (which is a fairly reasonable alternative to Medium's style).

Your in

[2016-04-01 23:15] johanneslumpe opened #257 "Cmd+A does not work in Firefox"
When selecting the whole editor contents using `Cmd+A` in Firefox, both the anchor and focus node will be the the wrapping div for the editor content, not text nodes. Firefox will then fail with a `Error: Got unexpected null or undefined`.

The result of this is that the browser will show the selection across all blocks, but when actually pressing a key, the content will be added/removed at the pr

[2016-04-02 05:52] mitermayer commented on #147
@brookslyrette Feel free to work on this one, got stuck on other PR's

[2016-04-02 09:45] johanneslumpe commented on #104
https://github.com/facebook/draft-js/pull/255 attempts solve the double newline bug

[2016-04-02 09:49] johanneslumpe commented on #166
@CLowbrow @hellendag Has there been any progress on this? I just now ran into a similar issue where it is desirable for internal text to just be copy/pasted as is, but to prevent certain or all styles from external pastes.

[2016-04-02 15:19] filod opened #260 "How should `convertFromHTMLToContentBlocks` process media tags ?"
`convertFromHTMLToContentBlocks` simply ignore media contents for now.  this is obviously not what i want.

to my knowledge, draft.js suggest to provide media through `Block` type, but img/video/etc..  are often inline tags in DOM .

of course i can return a chunk in `convertFromHTMLToContentBlocks ==> genFragment`:
[code]
but this code makes me feel tricky, don't know if it is right, should `conv

[2016-04-02 19:53] nikgraf opened #261 "Next release 4.0.0 instead of 0.4.0"
Following the trend of React & Jest it would be great to move to a version schema where breaking changes lead to a bump in the major version number.

What are you thoughts on this?

[2016-04-03 19:55] max-mykhailenko commented on #261
@nikgraf I think product doesn't ready for production

[2016-04-03 20:06] nikgraf commented on #261
@max-mykhailenko It's in production since quite a while (weeks? months?) at facebook.com. I would argue that this qualifies it to be production ready. How do you feel about it?

[2016-04-03 20:34] max-mykhailenko commented on #261
@nikgraf support of tables and media is not so clearly, documentation and examples are poor. Library can work, but without good documentation and examples it's not production ready solution.

[2016-04-03 21:01] nathanborror opened #262 "getVisibleSelectionRect returning null while typing with decorator"
I'm trying to make a simple typeahead. This might be incorrect but my current approach uses a `selectionContainsEntity` function which accepts a decorator strategy and the current editor state. If the cursor is in or alongside a match then I toggle a state property to render the typeahead component which uses `getVisibleSelectionRect(window)` to determine where to position the typeahead suggestion

[2016-04-04 02:35] hellendag commented on #260
You may wish to create your own HTML conversion utility. Feature support that may be obvious to some is unnecessary for others. In this case, the limit of this conversion utility is the feature set that we have required at Facebook, as I would not have wanted to open source anything we aren't using in production.

`convertFromHTML` is just an exposed version of our paste processor, and is not curr

[2016-04-04 02:35] #260 closed

[2016-04-04 02:40] hellendag commented on #261
This framework has been in use in production on facebook.com for over a year and half.

It currently powers the main status input, comments, messenger.com, Notes, and a number of other critical interfaces across products. All releases strictly include changes that are already live on facebook.com.

It may not currently have features that would allow your specific use case to be production-ready, b

[2016-04-04 02:57] hellendag commented on #262
Hi @nathanborror!

Can you verify whether https://github.com/facebook/draft-js/blob/master/src/component/selection/getVisibleSelectionRect.js#L29 properly returns a `range` value in the null case?

[2016-04-04 02:59] hellendag commented on #257
Damn. This used to work properly. https://github.com/facebook/draft-js/blob/master/src/component/selection/__tests__/getDraftEditorSelection-test.js#L1158

Exactly which wrapper element is selected when this happens?

[2016-04-04 03:00] hellendag commented on #254
Where are you seeing this? The inline range should not be automatically applied to `code-block` elements at all.

[2016-04-04 03:02] hellendag commented on #254
I'm not able to repro on the draftjs.org example editor.

- Create a block of text, make it a code block
- Select some text, make it monospace.

Behavior appears correct to me.

[2016-04-04 03:03] hellendag commented on #253
Yeah `window.prompt` is terrible. :)

[2016-04-04 03:10] hellendag commented on #252
In `handleCommand`, I assume you are operating on your `EditorState` with some parameters about what the inserted image should be, and that `handleCommand` lives in your top-level component with access to other areas of your application state.

If so, can't you just obtain the relevant parameters within `handleCommand`? What is the benefit of passing them through from the key binding as a payload?

[2016-04-04 03:22] hellendag commented on #203
This is an issue that plagued me while working on Notes, as I couldn't quite get things to a place I was really happy with. I'd have something that sort of worked, then fail certain arrow behavior cases or not do what I wanted when selecting across multiple blocks. I never felt like I had something shippable.

In order to keep the product moving, I came up with the current hover menus and punted o

[2016-04-04 03:46] hellendag commented on #190
Seems like `RichUtils` is the right place for this. If there are patterns that are common for Google Docs, MS Word, and others, I think it's fair to follow those conventions.

[2016-04-04 04:07] nathanborror commented on #262
Hey @hellendag :)

It's returning `Range {startContainer: <span>, startOffset: 0, endContainer: <span>, endOffset: 0, collapsed: true, …}`

[2016-04-04 05:38] mitermayer commented on #143
@ohanar, What's the current state of this issue? I believe in order to properly being able to add support to html tables we would need tree block structures

[2016-04-04 08:26] remko opened #263 "`focus` missing from Editor component API documentation"
The 'Managing focus' guide mentions `Editor` having a `focus` method, but it's not in the API docs.

[2016-04-04 10:48] remko commented on #261
I think what @max-mykhailenko is referring to is not code stability, but API stability. With releases rolling every week with API changes (some of them breaking, such as `atomic`), still several pending changes (metadata on block), and talks of more changes (integrating entities as immutables into the model), it feels from the outside that the project is in a lot of flux, and not in the state yet

[2016-04-04 12:34] filod commented on #260
thanks for reply.

for those who want know how to handle media content in `convertFromHTML`, see this [naive implementation](https://github.com/shengupiao/draft-js/commit/064a16e145e669a41870669e1b4e1ed3785b4bcc)

[2016-04-04 16:37] zpao commented on #261
I think this is the part that gets me and made me argue for starting at < 1.0.0. At this point the project and API have been changing a lot as we take in external ideas and needs and is evolving rapidly. While the core itself is quite stable, the API is changing. I think it makes sense to get this all out now and get to a point where we aren't changing top level API every 2 weeks, then call that 1

[2016-04-04 17:09] nikgraf commented on #261
sounds good :smile:

[2016-04-04 17:09] #261 closed

[2016-04-04 18:26] remko opened #267 "Custom Component depending on editor state"
I have a custom component that can do changes to the editor state. What I did was pass `editorState` and `onChange` as a prop to this component, and then call `onChange` when necessary. However, this doesn't work, because the `blockRendererFn` is not called on all editor state changes (e.g. when the user types text, in which case `DraftEditorContents.shouldComponentUpdate` returns `false`), and so

[2016-04-04 19:34] jvaill commented on #169
I started writing a higher-order component that tracks typeahead state based on the way FB mentions work using the method outlined by @hellendag above. It's not completely finished (straight up missing a README), but I'm not sure when I'll have more time to continue hacking on it..

[Example linked here if anyone is interested in dissecting another approach!](https://github.com/dooly-ai/draft-js-t

[2016-04-04 19:36] ohanar commented on #143
@mitermayer , sorry something unexpected came of for me. I'm hoping to get back to it later this week or early next week. You are welcome to help out if you are up for it.

[2016-04-04 20:14] johanneslumpe commented on #257
The one with the `public-DraftEditor-content` class.

[2016-04-04 23:25] ianstormtaylor commented on #252
Yeah, that's definitely true. Not exactly sure where I was going with this anymore. I think I was thinking along the lines of a plugin ecosystem, since the same "handle in inline in `handleCommand` could be given for the internal library I'd think. But I'll reopen if I figure out a more concrete use case again.

[2016-04-04 23:25] #252 closed

[2016-04-04 23:42] hellendag commented on #263
Cool, thanks -- I'll take a PR for it. :)

[2016-04-04 23:47] ianstormtaylor commented on #254
Ah shoot, sorry you're totally right, I forgot to check this one against the demo. Was serializing both `code` and `pre > code` but in the wrong order, all `pre > code` were also getting the styles always.

[2016-04-04 23:47] #254 closed

[2016-04-05 05:37] mitermayer commented on #208
having a look on this issue now, the problem that we have is that in order to have backwards support we would need to do a bunch of toLowerCase() in many different places since we don't yet have a centralized reference for inlineStyles matching. I wonder if we want to still proceed with backwards compatibility in this regards or we can just lower case everything else internally. @hellendag

[2016-04-05 11:02] Paul-Wray opened #270 "List item nesting not preserved on dedent"
During list item indenting, draft ensures correct nesting by checking that an indented item will have a parent one level lower. But when an item is dedented, its descendants stay at the same level, giving children two or more levels deeper. The descendants should also be dedented I would think.

[2016-04-05 11:21] remko commented on #270
FYI, Google Docs and OpenOffice seem to allow independent indent/dedent of items, regardless of next/previous items. So the current dedent behavior of Draft is consistent with that, but the indent behavior isn't.

[2016-04-05 12:20] remko commented on #263
Your kindness knows no bounds.

I hope I made up for my drive-by-shooting-issue-report (I was in the middle of debugging, and didn't want to forget about it) by doing a little extra in the PR. 🐶

[2016-04-05 17:52] #263 closed

[2016-04-06 01:12] #19 closed

[2016-04-06 09:55] Busata opened #271 "AtomicBlockUtils missing?"
In the documentation there seems to be references to AtomicBlockUtils to include custom components, but this util seems to be missing?

[2016-04-06 09:57] Busata opened #272 "AtomicBlockUtils missing?"
In the documentation there seems to be references to AtomicBlockUtils to include custom components, but this util seems to be missing?

[2016-04-06 10:17] #271 closed

[2016-04-06 10:20] Busata commented on #272
Please note that the official documentation points to the master branch, which has media already as an example (including AtomicBlockUtils), but this is not yet available in the 0.3.0 npm package.

[2016-04-06 19:07] hellendag commented on #272
The documentation is based on master, rather than the latest release. @zpao @spicyj what's the right way to remedy this?

[2016-04-06 19:10] spicyj commented on #272
You basically need a separate docs branch. We have a `0.14-stable` branch which docs are generated from and which we also do 0.14.x releases from (after cherry-picking individual commits over). It means you need to manually cherry-pick all docs fixes to that branch, which is a little annoying but more or less inevitable.

[2016-04-06 19:13] hellendag commented on #270
Yeah, this is something I remember spotting a while back.

I think Quip also allows free indenting.

I'd be fine with the Draft core also allowing this, since I don't think the framework needs to be opinionated about it.

For Draft-based editors at FB, I think we didn't want to allow arbitrary indentation. `RichUtils` could be the right place to do some enforcement here, since it's not required th

[2016-04-06 20:59] zpao commented on #272
Alternatively you had a separate branch that you land the future docs changes in (and only docs) and then merge that into master right before release, then repeat. You wouldn't have to change any tooling or do cherry-picking, but would still have the multiple branch issue.

[2016-04-07 02:52] thesunny commented on #211
@nickhsine
Hi Nick, it's unlikely this solution is going to work within a text block (e.g. 'paragraph', 'unstyled', 'header-one' etc). At least not without a bit of work of which I'm not sure what that would be.

The reason is that I believe the text fields expect to have edit access to all the characters within a block and behave that way. This single character thing works with the media blocks b

[2016-04-07 03:51] filod opened #274 "`&#13` (Carriage Return from xml entity) will break `convertFromHTML`"
when i use jsdom to process html => dom,
some weird html page will have this issue (which claim they are html doc but return with some XML entities).

perform these changes solved my issue with `convertFromHTML`:
[code]
to
[code]

for time reason, i have not dive into this too much (other cases like ZERO WIDTH SPACE may break this too?). Just create this issue as a reminder for people who encounte

[2016-04-07 12:05] swaathi opened #275 "[HELP] How do I retain focus on the selected content after a style is applied?"
I'm trying out the basic implementation of DraftJS with Rich styles. When I select a word and apply a style to it (like bold/italics), it applies it. But it loses the selected text (the word is not selected anymore). If I click on the editor region, it selects it again.

I don't see a similar workflow when I try the examples. So I'm pretty sure I'm missing something, but I don't know what. Is ther

[2016-04-07 12:34] guitardave24 commented on #275
Are you applying a style with a mouse click that's changing focus
after? You could try prevent default in the click handler where you apply
the style.

On Thursday, April 7, 2016, Swaathi Kakarla <notifications@github.com>
wrote:

[2016-04-07 12:37] swaathi commented on #275
Nope. I'm using a `onMouseDown` on a span element to apply the style.

[2016-04-07 14:53] SumeetR commented on #248
I think that @Philin-Anton is referring to aligning certain blocks of text and not the entire editor. Any ideas on how one would go about doing that?

Thanks,
S,

[2016-04-07 15:20] hellendag commented on #275
I suggest using `preventDefault` on the mousedown event.

[2016-04-07 17:01] swaathi commented on #275
Thanks so much! This cleared it up right away. :+1: :smile:

[2016-04-07 17:01] #275 closed

[2016-04-07 23:47] mitermayer commented on #248
You would have to do the following, create a getBlockStyle handler:

[code]

pass it to your editor

[code]

When clicking on a button that triggers this this will than add a class 'align-right' or 'align-center' or 'align-left' to your block container. WIth that you can use CSS to:

[code]

In order to hook buttons to commands you can have a look into the rich.html example from draftjs.

[2016-04-08 01:34] hellendag commented on #248
I generally wouldn't advise using block types that are outside the [EditorBlockType enum](https://github.com/facebook/draft-js/blob/master/src/model/constants/DraftBlockType.js).

@Philin-Anton I'd say there aren't really supported ways to do this right now on a per-block level. Is it possible that you only need certain block types to be aligned differently? If so, you can certainly use `blockStyl

[2016-04-08 02:01] brookslyrette commented on #147
Looks like this roots in a Safari issue: https://bugs.webkit.org/show_bug.cgi?id=19893

The data is in the OS but not accessible from the event in Safari. If you cut text with formatting in Safari the formatting will be preserved when pasted into Chrome. The opposite is also true.  I'm still digging into the issue, but the behaviour is odd to say the least.

| From / To        |  Chrome

[2016-04-08 02:13] Daniel15 commented on #147
@brookslyrette How does CKEditor work around this issue? As per my comment
above, it handles copy/paste in Safari with no issues.

Sent from my phone.
On Apr 7, 2016 7:01 PM, "Brooks Lyrette" <notifications@github.com> wrote:

[2016-04-08 10:00] johanneslumpe opened #277 "Spellchecking related changes remove entities"
I just noticed that when I have an entity applied to a range and then use the browser's spellchecking functionality to change a word, the entity is removed. PR to fix this issue: https://github.com/facebook/draft-js/pull/276

[2016-04-08 10:26] johanneslumpe commented on #257
@hellendag The release of `0.4.0` got rid of this bug. I think it only happened with custom blocks and that was probably related to them not having an editor key set.

[2016-04-08 10:26] #257 closed

[2016-04-08 12:47] brookslyrette commented on #147
They work around the issue with an internal Clipboard for IE and Safari

During the paste event they check to see if the HTML data is trusted: `canClipboardApiBeTrusted`

https://github.com/ckeditor/ckeditor-dev/blob/12f0de314fd6fbee0bc4d35d541123d283fdecc9/plugins/clipboard/plugin.js#L1551

Then if it can't they use and internal `pastebin` via `getClipboardDataByPastebin`

https://github.com/cked

[2016-04-08 15:06] heymath opened #278 "Remove all inline styles from current block"
Hi there!

I did not find a Util function that allows to remove all inline styles from a block. **Did I miss it?**

Anyway I tried to do it myself, and I went to something like below ; but this seems to work only if there is a non-collapsed selection in the current block :disappointed:

[code]

If someone understand why, I would love to know :smile:

And could / should this be added to Draft as a

[2016-04-08 17:12] guitardave24 commented on #278
Haven't tested this, but maybe try calling `Modifier.replaceText` passing in the string that already exists and `null` for inlineStyle param?

[2016-04-08 17:20] johanneslumpe commented on #278
@heymath To be sure that all inline styles for the whole block get reset you could create a new `SelectionState` for the block which is changed, by using the `anchorKey` of the original selection, if it is collapsed. Then you can span from 0 to `block.getLength()` and have `anchorKey` and `focusKey` be the same block. Then you can use this selection to remove inline styles for all characters in th

[2016-04-08 18:02] heymath commented on #278
Thank you very much guys! I will try this right after my holidays, that should be OK :)

[2016-04-08 18:21] johanneslumpe commented on #248
@hellendag Wouldn't it be possible to do this now that https://github.com/facebook/draft-js/pull/216 has landed? When aligning a block, custom meta data could be assigned to that block, which can then be used in the `blockStyleFn` to derive which classes should be added.

[2016-04-08 18:26] hellendag commented on #248
@johanneslumpe I think that would enable it, yeah. I've imported that one but haven't merged it yet, though.

[2016-04-08 19:04] johanneslumpe commented on #97
It looks like the triggered selection events are the same. This might require tracking around mouse events in combination with selection events to figure out whether a selection was made via a double or triple click, drag selecting or something else. But sounds like it could get messy pretty fast.

[2016-04-08 21:40] coopy opened #282 "Support custom inline styles when importing from HTML?"
The [docs](https://facebook.github.io/draft-js/docs/advanced-topics-inline-styles.html#content) mention that you can define map CSS styles to arbitrary styles. I need to serialize my editorState to HTML and from during and between editing sessions.

I know from looking at other [Issues](https://github.com/facebook/draft-js/issues/231) that serializing to and rehydrating from HTML should be avoided

[2016-04-08 21:44] mitermayer commented on #282
I am working on a PR to make that configurable will be similar to https://github.com/facebook/draft-js/pull/205, it was going to be part of that PR but it got way to large so got split over. Just waiting it to be merged into master. At the moment it has already being imported

[2016-04-08 23:09] coopy commented on #282
@mitermayer that's cool. In the meantime, I might just add the inline tags that I need to a fork of `draft-js`.

[2016-04-09 00:08] jhammer opened #283 "Safari "Smart Links" do not work"
If `Edit > Substitutions > Smart Links` are enabled in Safari (or WebViews, in general), typing a URL or email address into Draft.js results in the current line of text being replaced with the detected URL/email and the selection being lost.

To reproduce:

1. Start typing at https://facebook.github.io/draft-js/
2. Enable Edit > Substitutions > Smart Links
3. Type "Email me at test@example.com"

S

[2016-04-09 12:38] hyperh opened #284 "How would I initialize an Editor with some text?"
I want to initialize an Editor with some default text, some with styling (such as bold, H1, H2, etc...) and some plain text. Not sure how to do this. The `convertFromRaw` requires an array of `ContentBlocks`, but I'm not sure how to generate the keys for them. Or is there a better way, such as just  importing from some `html`?

[2016-04-09 13:21] brookslyrette commented on #284
There are functions to convert from HTML see https://github.com/facebook/draft-js/issues/236

I've used this with success in a previous project.

[code]

[2016-04-09 13:56] sugarshin opened #286 "is compiled code as npm published v0.4.0 ?"
Such as  not included `AtomicBlockUtils`. please publish after `npm run build`

[2016-04-09 16:27] hyperh commented on #284
What does `this.props.content` look like? Is it just a string like so `'<div>My content</div>'`

[2016-04-09 16:29] #284 closed

[2016-04-10 07:58] swaathi opened #289 "[HELP] How do I require MediaUtils?"
I'm trying to play around with image embedding in DraftJS and followed the examples in the repo. MediaUtils seemed to be similar to requiring RichUtils, but when I tried that, I keep running in to `undefined`. I tried searching thought the source and found that there are bindings to RichUtils but nothing for MediaUtils. Like here,

[code]

This is how I require RichUtils, `var RichUtils = Draft.Ri

[2016-04-10 08:22] deep-c opened #290 "Incorrect values with getVisibleSelectionRect under certain selection circumstances?"
Hi,

I am attempting to create a floating toolbar which shows on text selection. I read through a similar issue #45 and noted the use of getVisibleSelectionRect(). This works for the most part but as you can see in the video below there are a couple of strange issues I've encountered.

https://www.youtube.com/watch?v=eHTj7F62S7g

The toolbar is included as a seperate component to the `Editor`.
###

[2016-04-10 08:29] max-mykhailenko commented on #289
MediaUtils (AtomicUtils in master) are not in npm yet. Maybe on the next Tuesday. Now you can get it in master

[2016-04-10 08:32] swaathi commented on #289
Oh man! Thank you. :+1: So I need to do something like `var AtomicUtils = Draft. AtomicUtils;` to get MediaUtils, right?

[2016-04-10 08:52] max-mykhailenko commented on #289
Look at example https://github.com/facebook/draft-js/blob/master/examples/media/media.html#L31-L38

[2016-04-10 09:41] swaathi commented on #289
Thanks!

[2016-04-10 09:41] #289 closed

[2016-04-10 16:54] hyperh opened #291 "Dragging non text into an editor breaks it"
I'm using React DnD to wrap components up and make them draggable. One of these draggable components is a Draft Editor. Sometimes I accidentally drop one of these draggable components into the Editor, and from the error logs below it looks like the Editor is trying to interpret it as text.

Not sure what to do about this. Either I'd like to turn this drag and drop functionality of the Editor off o

[2016-04-10 17:52] guitardave24 commented on #291
Have you tried overriding handleDrop in the Editor and just returning true?

On Sunday, April 10, 2016, hyperh <notifications@github.com> wrote:

[2016-04-11 01:50] hyperh commented on #291
@guitardave24 That appears to have worked! Thanks!

[2016-04-11 01:50] #291 closed

[2016-04-11 10:53] Tommy10802 opened #293 "convertToHTML method"
Hello guys, i want to ask you if you are plannig method convertToHTML, opposite to convertFromHTML function. Output of this function will be raw html of current content of editor.

Thanks.

[2016-04-11 16:33] hellendag commented on #293
No, since we do not have a use case for this at Facebook. However, there are utilities on GitHub that offer this behavior.

[2016-04-11 16:33] #293 closed

[2016-04-11 16:38] hellendag commented on #290
Thanks for the details and the video. It would help if you could add time information to the two issues so that I know exactly what to look for at what time.

A couple questions:

- Is this on Windows? I wouldn't assume that would cause issues, but it's worth checking.
- Is Toolbar.js rendered with a decorator, or independent of `Editor`? (The latter is **strongly** preferred for positioning/behav

[2016-04-11 16:39] hellendag commented on #286
`AtomicBlockUtils` was not included in 0.4.0. It will be in the next release.

[2016-04-11 16:39] #286 closed

[2016-04-11 16:40] hellendag commented on #283
Ha, that's annoying. IE has a similar "feature", disabled in `Editor` via https://github.com/facebook/draft-js/blob/master/src/component/base/DraftEditor.react.js#L306.

If you wouldn't mind testing, can you check whether this fix also works for Safari? It's currently targeting IE, but if the same fix can be used, that would be useful.

[2016-04-11 16:43] hellendag commented on #278
Both suggestions here should work. :)

[2016-04-11 16:43] #278 closed

[2016-04-11 16:44] hellendag commented on #277
Let's be sure this works as expected for all mutability types, as discussed in Slack. :)

[2016-04-11 16:46] hellendag commented on #274
Seems like this fix might be worth adding. cc @CLowbrow

[2016-04-11 16:47] hellendag commented on #267
What kind of changes can the custom component make?

[2016-04-11 17:03] johanneslumpe commented on #277
@hellendag It works for `MUTABLE` and `SEGMENTED` but it fails for `IMMUTABLE`. For `IMMUTABLE` I assume we'd want to remove the entity when a change occurs - right now it keeps it even though the text changes.

[2016-04-11 17:13] hellendag commented on #277
@johanneslumpe I think that's correct, yeah. If it's an `IMMUTABLE` entity, setting `null` is probably more appropriate.

[2016-04-11 19:33] johanneslumpe commented on #277
@hellendag With the latest commit the entity gets removed correctly if it is `IMMUTABLE`, but when using `ctrl+z` to undo it, the block content is copied from the beginning of the entity to the end of the block and applied to the end of it. A gif might explain it better:

![immutable_broken](https://cloud.githubusercontent.com/assets/3470207/14439737/5884def4-0035-11e6-9ebf-cc8bc4c672d8.gif)

[2016-04-11 21:26] jhammer commented on #283
It looks like that fix does not work in Safari. No support for "AutoUrlDetect" in WebKit.

I should note that if `spellCheck` is false, then the problem does not occur.

[2016-04-11 21:42] Rosey commented on #283
Would it be possible to detect that a node change occurred in https://github.com/facebook/draft-js/blob/master/src/component/handlers/edit/editOnInput.js and apply a `link` and properly set the selection? That way we'd get to preserve the behaviour that the user wants. Seems like disabling spellcheck altogether would be a bad idea!

[2016-04-11 21:45] jhammer commented on #283
Seem like a good approach to me, but I'll defer to an expert (e.g. @hellendag)

[2016-04-11 21:55] jhammer commented on #283
Seem broadly related to #214

[2016-04-11 23:57] deep-c commented on #290
Hi Isaac,

Ive amended, and thanks for taking a look. Also of note in @bkniffler awesome work here http://draft-wysiwyg.herokuapp.com/ I can reproduce the second issue but not the first.

Thanks

[2016-04-12 00:09] sugarshin commented on #286
OK, thank you.

[2016-04-12 00:14] rickyvetter opened #295 "cmd+backspace should delete the \n if there is no text in the selected line"
The default behavior of most multi-line inputs allows you to spam cmd+backspace to delete multiple lines of text. I'm always surprised when I can't in draft.

[2016-04-12 01:59] ianstormtaylor commented on #267
FWIW, what I've been doing (and some others) is to do a "forced update" either with `EditorState.forceSelection` or `EditorState.set` to get the block to re-render. If it's only related to internal data, you can always do a `forceUpdate()` on the component itself.

@hellendag would you consider loosening the `shouldComponentUpdate` logic for custom components? When I'm making custom ones I'd be ha

[2016-04-12 07:20] glenn-allen commented on #132
Hi guys, sorry if I shouldn't be asking this here, but I have been trying to do something very similar for the last few hours and I'm stumped by the following error:

_warning.js:44 Warning: React.createElement: type should not be null, undefined, boolean, or number. It should be a string (for DOM elements) or a ReactClass (for composite components). Check the render method of `ChecklistEditorBloc

[2016-04-12 07:50] masylum opened #296 "Refs must have owner"
Hi,

I just wanted to try Draft.js and tried to drop the example in my application and I've got the https://fb.me/react-refs-must-have-owner issue.

I simplified a little bit my code, but looks something like this:

[code]

[code]

I get the following:

When I comment out the component `ModalComposer` (which is basically the draft-js one) I don't get this warning, so its not related to npm and dep

[2016-04-12 07:51] cgestes commented on #132
Is your DraftEditorBlock defined?

(Try to print it)

On Tue, 12 Apr 2016, 09:20 Glenn Allen, <notifications@github.com> wrote:

[2016-04-12 08:19] Busata commented on #272
You can't refer to a specific tag then? If I look at angularJS docs for example, you have a dropdown, and viewing source just links to the specific tag? The last tag is the docs you want no?

[2016-04-12 12:03] gscottolson commented on #132
@glenn-allen Can you provide a Gist with more code or a (non-working) example using jsFiddle or equivalent?

[2016-04-12 16:29] hellendag commented on #295
To my knowledge, Draft's behavior is correct -- <kbd>Cmd</kbd>+<kbd>Backspace</kbd> should delete the current visual line of text.

(This textarea exhibits the same behavior.)

Which browser/OS do you use? I'm not aware of discrepancies with this key command.

[2016-04-12 16:29] hellendag commented on #295
Oh hey @rickyvetter didn't see that it was you. :P

[2016-04-12 16:35] rickyvetter commented on #295
Hey @hellendag :) the behavior is correct when there is text in line you are deleting. The discrepancy I see is when there is no more text in the line. The textarea I'm typing in (and regular text areas in Chrome/OSX) make it so pressing cmd+backspace while your current line is empty deletes the \n, moving your cursor from the 0 position in the bottom line to the final position in the line above i

[2016-04-12 17:07] hellendag commented on #295
Ahh, interesting. I think the fix for this should be pretty straightforward, within [keyCommandBackspaceToStartOfLine](https://github.com/facebook/draft-js/blob/master/src/component/handlers/edit/commands/keyCommandBackspaceToStartOfLine.js#L39).

If the target range is empty:

- If the selection offset is zero, remove the current block.
- Otherwise, select one character backward and remove that.

[2016-04-12 17:50] #251 closed

[2016-04-12 18:00] hellendag commented on #296
I don't see any obvious problems with the code here.

At what point are you seeing this invariant? Immediately when the component renders?

[2016-04-12 18:01] hellendag commented on #277
Does your current PR commit resolve the issue above?

[2016-04-12 18:44] johanneslumpe commented on #277
Unfortunately it does not. I haven't yet been able to figure out what the issue is with immutable entities and undo.

[2016-04-12 21:49] hellendag commented on #36
Oh, that's an interesting approach. Is that text event cancelable?

[2016-04-12 22:13] #222 closed

[2016-04-12 23:03] glenn-allen commented on #132
Thank you both for your quick reply!
So @cgestes, you were correct - `DraftEditorBlock` was undefined, pretty embarrassed I didn't think to do that myself.
Upon further inspection of the draftjs source I realised the`DraftEditorBlock` is exposed instead as just `EditorBlock`.
Correcting that solved my problems, thanks so much again!

[2016-04-12 23:13] sugarshin commented on #132
Hi.
I have tried the implementation of the checkable list to these messages to the reference. Thank you!
However, we are worried about where to be converted to html. What would be better to make modifications to convertFromHTML? Thank you

[2016-04-13 06:12] guitardave24 opened #302 "Incorrect paste behavior for bulleted lists"
I think there's an issue handling `<ul>` pastes.

Take a list that looks like this:
[code]

If you select all text with the mouse cursor, and then paste it.

The result looks like:
[code]

The HTML given to the paste processor above starts with: `<meta charset='utf-8'><ul ...`

However, if you select via cursor selection and make sure to select the *entire* block and focus on the end of the last b

[2016-04-13 07:24] johanneslumpe commented on #277
@hellendag Thinking about this more: I just fun for re-read the explanatory text in the gif above. And in that case we shouldn't remove the whole entity but only from a sub-range?

[2016-04-13 16:11] hellendag commented on #277
If a character is added within an entity:

- `IMMUTABLE` entity: remove the entity, insert the character
- `SEGMENTED` entity: same as above

If a character is deleted within an entity:

- `IMMUTABLE`: remove entire entity string
- `SEGMENTED`: remove segment of string, delimited by whitespace

To see this in action, use a Facebook input and mention two things: 1) a Page and 2) a friend. Pages are

[2016-04-13 16:53] hellendag commented on #272
`AtomicBlockUtils` is available in 0.5, and the docs should now be up to date.

I'll open a separate issue for tracking docs on a separate branch.

[2016-04-13 16:53] #272 closed

[2016-04-13 19:17] ZeGregg opened #303 "Dependencies deprecated"
FYI
```npm WARN deprecated graceful-fs@3.0.8: graceful-fs version 3 and before will fail on newer node releases. Please update to graceful-fs@^4.0.0 as soon as possible.````

```npm WARN deprecated lodash@1.0.2: lodash@<3.0.0 is no longer maintained. Upgrade to lodash@^4.0.0.````

```npm WARN deprecated graceful-fs@1.2.3: graceful-fs version 3 and before will fail on newer node releases. Please up

[2016-04-13 21:06] zpao commented on #303
Thanks for the heads up. These are all warnings from transitive dependencies, but we have a bunch of outdated direct dependencies we should be able to update. Hopefully these go away if we do that.

[2016-04-13 21:11] #303 closed

[2016-04-13 21:27] #230 closed

[2016-04-13 21:34] jainp opened #304 "Editor scrolls to bottom when pressing enter in the middle of a big paragraph"
When you have a big paragraph and you press enter in the middle, instead of keeping the focus in the middle of the page, the editor scrolls all the way to the bottom.

Steps to reproduce:
1. Go to https://facebook.github.io/draft-js/
2. Copy paste in a large continuous paragraph without any newlines in between.
3. Scroll to the middle of the big paragraph and press enter.
4. The editor will have s

[2016-04-13 23:42] zpao commented on #303
FYI, I'm working on getting some fbjs stuff in order so that we can update the dependencies here more easily, then these should hopefully go away.

[2016-04-14 01:46] kristian-puccio opened #305 "Flow 0.23 Promise.done"
Using flow 0.23 I get this error:
[code]
This is with fbjs 0.8

[2016-04-14 12:39] vasyabigi opened #307 "TeX example isn't working after media-to-atomic rename"
![draft_ _tex](https://cloud.githubusercontent.com/assets/681519/14528143/605499d8-024e-11e6-8f54-4687e199d1dd.jpg)
Previous commit 358dc595f0820f2703d95e81b96b5e8271e1f878 works better.

[2016-04-14 12:54] Beingbook opened #308 "example 'entity' and 'tex' not working"
Two examples have same error.

<img width="409" alt="2016-04-14 9 53 01" src="https://cloud.githubusercontent.com/assets/2682865/14528616/5341edb2-028b-11e6-835c-0460210097e7.png">
<img width="654" alt="2016-04-14 9 53 13" src="https://cloud.githubusercontent.com/assets/2682865/14528617/534843e2-028b-11e6-9bb5-44b71fc02c94.png">

[2016-04-14 16:08] swaathi opened #309 "AtomicBlockUtils is not parsing images after loading editor content from database"
I'm using AtomicBlockUtils to manage file uploads in my document creation tool. It's properly displaying the image when I upload it the first time and also saves to the DB without a problem. But when I try to edit the created document, it doesn't seem to parse the image again, in fact it doesn't even display it in the editor content when i inspect element on it.

Here's the content that's saved to

[2016-04-14 17:40] masylum commented on #296
I will try to debug it and isolate better the issue to give you better information

[2016-04-14 20:18] zpao commented on #305
This isn't entirely surprising given what's in the changelog for 0.23 - https://github.com/facebook/flow/blob/master/Changelog.md

Summary:
- Deferred.js.flow has `var Promise require('./Promise')`
- Promise.js(.flow) is just `module.exports = require('promise');`
- The promise module we use has `Promise.prorotype.done`.

It would appear that we don't actually follow that resolution though and are

[2016-04-14 21:15] robertgonzales opened #310 "Focus / selection issues on mobile"
I copied the rich text example. Works great on desktop but I have these issues on mobile (iOS):

- Focusing seems to blur then refocus the editor. This is noticeable because iOS safari attempts to scroll with every tap on the editor.
- Focusing always loads the last cursor position, no matter where the tap. The only way I've been able to change the position is by long press.

My implementation has

[2016-04-15 02:34] thisbejim commented on #308
Can confirm I am getting this too.

[2016-04-15 05:31] Beingbook opened #311 "Pressing enter key doesn't make new line."
I'm new to draft-js. I found a problem while testing and using it.
Because this rich text editor doesn't make new line in Korean.
I have to press enter twice as aforementioned. It's really inconvenience.
This situation is also being happened in Facebook Note and Messenger.

If this was intended to prevent mistake during type, It should be fixed or changed.
When user press enter, line should be cha

[2016-04-15 06:12] Beingbook commented on #309
I think you should convert your text data as `RawDraftContentState`.
[This link] might help you.

[2016-04-15 06:37] swaathi commented on #309
I've tried this to. But when I `convertFromRaw` with the DB content, it throws a parsing error.

[2016-04-15 06:52] Beingbook commented on #311
I tested more:

* Chrome needs enter twice
* Safari works well. best.
* FireFox similar to Chrome.
* Opera similar to Chrome.

[2016-04-15 08:31] johanneslumpe commented on #277
@hellendag The culprit for the weird insertion at the end of the content is this:

https://github.com/facebook/draft-js/blob/master/src/component/handlers/edit/commands/keyCommandUndo.js#L28

If we let the browser handle the undo, then it will insert the content at the end of the block due to the changed DOM structure I believe because it cannot figure out where to put it. When I removed that part

[2016-04-15 10:03] max-mykhailenko commented on #309
You should use `convertFromHTML`, but now it's doesn't work with `img` tag too.

[2016-04-15 10:08] swaathi commented on #309
Oh! Yeah I do use `convertFromHTML`, and it just doesn't parse the `img` tag. Is there any workaround for this?

[2016-04-15 10:28] max-mykhailenko commented on #309
Don't know, I need this feature too.

[2016-04-15 12:52] aleemb opened #312 "multiline list items don't work via shift-enter"
Other WYSIWYG editors allow multi-line list items by pressing shift-enter, which allows a new line on the same list item but the rich editor example doesn't.

Example from trix:

![image](https://cloud.githubusercontent.com/assets/46616/14561844/9c791634-0332-11e6-826e-c6b415344a5c.png)

[2016-04-15 17:18] hellendag commented on #304
How many characters in the paragraph?

[2016-04-15 17:20] hellendag commented on #311
Are you using OSX El Capitan?

[2016-04-15 17:21] Beingbook commented on #311
@hellendag Yes, it is latest version

[2016-04-15 17:25] hellendag commented on #312
You will need to enable soft newlines to support this. By default, <kbd>shift</kbd>+<kbd>enter</kbd> will have the same behavior as <kbd>enter</kbd>. See `RichUtils.insertSoftNewline`, which you can use within `handleReturn`.

[2016-04-15 17:25] #312 closed

[2016-04-15 17:26] stephenkiers commented on #308
It seems to be getting a OrderedMap passed into it, instead of a block.

![screen shot 2016-04-15 at 10 56 27 am](https://cloud.githubusercontent.com/assets/1245512/14568871/bd6f00fe-02f8-11e6-9ce8-e556451ba9d4.jpg)

I tried figuring out, but I was using this example to learn draft.js so it is a little over my head at the moment

[2016-04-15 17:36] jainp commented on #304
I tested with about 8000 characters in one paragraph. It generally occurs when the paragraph is big enough that I need to scroll to see all of it. If I scroll to the somewhere in the middle and press enter, that's when the editor scrolls to the bottom.

[2016-04-15 17:42] stephenkiers commented on #308
It seems to be padding through a contentstate object instead of an array here; not sure why
![screen shot 2016-04-15 at 11 42 13 am](https://cloud.githubusercontent.com/assets/1245512/14569983/32b69c2c-02ff-11e6-9920-16dd044b3704.jpg)

[2016-04-15 17:45] hellendag commented on #308
Interesting. I think I know what I broke here. I'll take a look.

[2016-04-15 17:52] hellendag commented on #311
Thanks. There are some known issues with Korean composition that appear to have been introduced by El Capitan. I'll follow up here with details.

[2016-04-15 18:20] hellendag commented on #277
Ah, that makes sense. Nice sleuthing.

I think you can get around this by using `apply-entity` as the `EditorChangeType` (instead of `spellcheck-change`) in editOnInput.js, for the `SEGMENTED` and `IMMUTABLE` cases. This way, when undo occurs, it will not fall through to the browser.

[2016-04-15 19:35] hellendag commented on #310
It's been a while since I last invested time in making things work smoothly on iOS. :)

For now, I'd call iOS only somewhat supported. As far as I'm aware, we do not currently have any Draft use cases on the production Facebook mobile site. I'm very open to contributions that can help improve the mobile experience -- it's a support gap I'm not thrilled about.

Would you mind taking screen captures

[2016-04-15 20:42] #307 closed

[2016-04-15 20:48] #308 closed

[2016-04-15 20:59] hellendag commented on #309
`convertFromHTML` will probably not support `img` tags within HTML paste at any point, or at least at any point soon.

As @Beingbook suggests, you should create a `RawDraftContentState`. This is the format that `Draft` is able to ingest, and the framework defers to the developer to determine how best to convert from the optimal storage format (which may vary widely across use cases and developers)

[2016-04-15 20:59] #309 closed

[2016-04-15 22:04] joshdover commented on #248
Yep we're hoping to use block level metadata for this too.

[2016-04-16 04:26] linzerui commented on #52
so it means I could also show a color picker to select a wathever color ?

[2016-04-16 14:17] johanneslumpe commented on #277
@hellendag Check out the latest version of https://github.com/facebook/draft-js/pull/276 - I think I fixed all possible cases for entities!

[2016-04-16 14:46] linzerui opened #316 "How to insert inline image"
I found that the inserted image witch in the `media` example was wrapped with `figure` tag.
How can I render an `image` just with `img` tag as inline element?

[2016-04-16 18:24] hellendag commented on #316
Each block is expected to be rendered as a block-level element. You can use CSS to style it as needed.

Why do you want to have an `img` element without a wrapper?

As much as possible, the DOM output of a Draft editor should be regarded as an implementation detail. If you are depending on the editor HTML for storage, you should not do so. Instead, you should use `convertToRaw` and to convert the

[2016-04-16 18:25] hellendag commented on #304
Ok, I'll check it out.

What's the use case for an 8000-character paragraph, btw? :)

[2016-04-16 18:39] jainp commented on #304
The 8000 was just to make the bug appear on desktop :). My use case was on
mobile where the paragraph can easily go past the visible screen area (with
much fewer characters) and the auto scrolling to the bottom becomes much
more pronounced.
On Sat, Apr 16, 2016 at 11:25 AM Isaac Salier-Hellendag <
notifications@github.com> wrote:

[2016-04-17 04:57] Daniel15 opened #317 "Use draftjs.org domain?"
`github.io` subdomains look pretty tacky - It'd be like a professional company hosting their website on `geocities.com` :smile:

It looks like you've got the draftjs.org domain but it just redirects to `facebook.github.io/draft-js/`. IMO it'd look nicer to use draftjs.org as the domain for the site.

[2016-04-17 04:59] linzerui commented on #316
Thanks! I think I get it now.

[2016-04-17 08:12] johanneslumpe commented on #304
@jainp @hellendag It doesn't matter what the paragraph length it. This bug occurs when a block is split and the end of the block is outside of the viewport. It can be reproduced by using very little test and just positioning the editor in a way that the paragraph isn't fully visible in the viewport.

[2016-04-17 08:38] johanneslumpe commented on #304
@hellendag unfortunately I have no time right not to investigate this any further, but I've tracked down the issue to this line: https://github.com/facebook/draft-js/blob/master/src/model/transaction/splitBlockInContentState.js#L61

Removing the selection merging gets rid of the scrolling issue but obviously leaves the selection in the previous block. So I assume it has something to do with the wa

[2016-04-17 21:09] #163 closed

[2016-04-17 21:10] #316 closed

[2016-04-17 23:58] alexeygolev opened #318 "Not being able to update editor state"
I wasn't sure how to describe the issue. I noticed the following behaviour while working on simple `Entity.create` scenarios.
I have the following

[code]

Which is a very basic setup. However the entity is not added to the editor state. In fact if I set editorState to `{}` it won't change. Any other properties I set would set on state in `applyEntity` appear in state on next render. I'm sure it's

[2016-04-18 08:50] EwanValentine opened #319 "How do I actually get the html output of the editor?"
Unelss I'm missing something, I can't seem to get the html output of the editor, or do I need to do that myself somehow? The docs aren't too clear on how to do that.

Here's my React component...

[code]

The `console.log` outputs some `_map` or something?

Thanks in advance!

[2016-04-18 09:35] alexeygolev commented on #319
@EwanValentine Draft.js doesn't have a `toHtml` method or anything like that. It has a `convertToRaw` function though. It will return a structured text result that you can then process however you like. There are repos that have some work done on `toHtml` processing. The idea is — Draft.js doesn't have any assumptions about the output format so you can really fine tune your output

[2016-04-18 09:37] EwanValentine commented on #319
Ahaa! That makes perfect sense, I was struggling to understand what I myself needed to provide in that scenario.

Okay great, I'll search around to see how others have done that.

Thanks again!

[2016-04-18 09:37] #319 closed

[2016-04-18 11:51] sugarshin opened #320 "Not automatically scroll when the new line in the list block type"
Hi.
When a new line in `ordered-list-item` and` unordered-list-item`
The input area does not scroll automatically. It is scrolled When you start typing.

https://github.com/facebook/draft-js/blob/master/src/component/contents/DraftEditorBlock.react.js#L110

Seems `blockNode.offsetTop` is not able to get properly.
(Perhaps `offsetParent` is I think that's because it becomes the parent element of th

[2016-04-18 18:08] zjjw commented on #262
I'm seeing something similar. For me, `getVisibleSelectionRect` always returns null when the cursor is at the beginning of a line.

The value for the range is `{collapsed:true, commonAncestorContainer: span,  endContainer: span, endOffset:0, startContainer: span, startOffset: 0}`

This is in Chrome.

[2016-04-19 02:35] hellendag commented on #318
I think your suggestion of a possible race condition is the likely culprit here. Try using `onMouseDown` instead of `onClick`. You might also want to `preventDefault()` on the event.

[2016-04-19 02:40] spicyj commented on #194
This is still something Draft could do better so I'd like to keep this issue open.

[2016-04-19 05:37] LiaoSept commented on #194
@spicyj how are you going to deal with this problem?

[2016-04-19 08:27] adrianmc commented on #73
This was great. I feel like this should be in an FAQ somewhere. Clearing the editor should be a pretty common use case.

[2016-04-19 11:27] swaathi commented on #309
Thanks for the detailed explanation. Unfortunately when I tried this, I ran into a parsing error when I try to edit the content (i.e, load the `RawDraftContentState` from the DB, and covert it).

    Uncaught TypeError: Cannot convert undefined or null to object

This is how I convert to raw format,

    var content = this.state.editorState.getCurrentContent();
    var text = convertToRaw(content)

[2016-04-19 11:42] suhaotian opened #323 "https://facebook.github.io/draft-js/ Demo warn error"
see console:
![v9mj56 7xglov ue3cf15 f](https://cloud.githubusercontent.com/assets/6512574/14637886/db4dff3c-0666-11e6-903a-160a2e870b11.png)

[2016-04-19 11:55] alexeygolev commented on #318
@hellendag `onMouseDown` works, thank you. `preventDefault()` is not needed.

[2016-04-19 12:42] swaathi commented on #309
Oops! Looks like that was an issue on my side. Thanks for the help! It works when I `convertFromRaw` now. :)

[2016-04-19 16:09] jclyons opened #324 "Behavior Of textAlignment="right" with whitespace:pre-wrap"
When textAlignment="right", I would expect pressing 'space' in a no-wrap scenario to introduce another space into the text content. However, because of whitespace:pre-wrap the space is not added until I press another character.  Changing whitespace to 'normal' solves this problem. However, changing it to 'normal' also introduces other irregularities, such as misplaced cursors after deletion.

The

[2016-04-19 20:27] hellendag commented on #323
https://github.com/facebook/draft-js/blob/master/website/package.json needs a bump to React 15.

[2016-04-19 21:13] coopy opened #325 "Make blackbox testing easier"
I've been enjoying using `draft-js`; the approach to representing complex text editing states is great, and the API is pretty well documented.

Where I'm getting stuck is performing integration-level blackbox testing of components that I build with Draft.

Example: I've got a `<RichTextEditor/>` component, largely based on the [rich example](https://github.com/facebook/draft-js/tree/master/example

[2016-04-19 23:10] gabriel-miranda opened #326 "Draft breaks under weird circumstances"
Hi! My team and I were using draft to build a beautiful rich text editor, so first of all, thank you for open sourcing this, is great!

The issue that we found was this:

1. Focus on draft
2. Add an `atomic` block
3. Press `up arrow` an position in the first editable block (non-atomic)
4. Press `del` (on windows) or `fn + del` (on mac I think)
5. Try to write something
6. Error `Uncaught Invariant

[2016-04-19 23:11] guitardave24 commented on #326
Are you rendering children in your entity decorator?

On Tuesday, April 19, 2016, Gabriel Miranda <notifications@github.com>
wrote:

[2016-04-19 23:13] gabriel-miranda commented on #326
@guitardave24 it doesn't matter, try it in the `media` example of this repo, it happens too

[2016-04-20 07:21] Beingbook commented on #311
@hellendag I saw it is working well at Windows. It can't be fixed in OSX El Cap?

[2016-04-20 09:47] alexeygolev commented on #318
This probably should be closed. However maybe we should somehow add it to docs. In fact now when I think about it `onMouseDown` is used in most of the examples so maybe we should add at least a little note about this.

[2016-04-20 10:01] alexeygolev opened #327 "Empty line on adding atomic block"
It's not an issue per se and it's probably by design but I was wondering why adding an atomic block on the first line would leave this line empty and create the block on the next line. This makes it impossible to add media as the first block in the editor. I checked the Notes app and it has the same behaviour so I guess the code example is not really needed.

[2016-04-20 16:42] hellendag commented on #320
Can you provide a video capture of the bug?

[2016-04-20 16:53] hellendag commented on #324
Yeah, that's annoying.

You'll definitely need to keep `white-space: pre-wrap` to avoid whitespace collapsing, for the reason you mentioned. Draft selection behavior needs the character count in text nodes to match the model.

A couple ideas:

- Does it behave properly if you use `white-space: pre`?
- You could possibly use `handleBeforeInput` to intercept spacebar presses, and insert a non-breaki

[2016-04-20 16:59] hellendag commented on #327
The main reason is that managing selection around media blocks was a pain. :) Since I didn't have a good way to "select" the `atomic` block or force a new block above it, my workaround was to always include a block above the inserted media.

If you really want to eliminate that and you have a good solution in your UI to insert a block above the `atomic` block, you could use `Modifier` to strip the

[2016-04-20 16:59] #327 closed

[2016-04-20 17:14] southerncross opened #329 "Use IMMUTABLE entity for pasted link url."
Hi, I have a little suggestion about processing pasted link.

While Draft is processing pasted HTML fragment, it set the url text to `LINK` entity.
The `LINK` entity is `MUTABLE`(default), so users can modify it. However, they are actually modifying the link's display name, not the url.

I know that LINK entities are generally mutable just as the doc says:

But for the pasted links, I think it is

[2016-04-20 17:49] hellendag commented on #329
There is an important distinction to be made between implicit links and explicit links, as you note.

Specifically, implicit links need no entity representation at all -- the text itself is sufficient to serve as the "metadata" of the link. For these, my recommendation would be to use only a decorator, and no entity whatsoever. This is what we do in FB Notes, for example.

In the paste processor,

[2016-04-20 18:10] zpao commented on #323
I think you actually need to bump these: https://github.com/facebook/draft-js/blob/master/website/src/draft-js/index.js#L252-L253

[2016-04-20 23:43] gabriel-miranda commented on #329
+1 to  `handlePastedText` in my team's implementation we do that.

[2016-04-21 09:12] southerncross commented on #329
@hellendag @gabriel-miranda  Thanks for the explanation, didn't notice `handlePastedText` before, sorry.
Yes, you're right, the best way is to handle the pasted text manually.

Well, I didn't read much code of Draft. It seems to be lots of work to customize the  `handlePastedText` :cry:

Can I just customize the "how to parse link" part? I don't want to copy most of the code of `convertFromHtmlToC

[2016-04-21 15:12] gabriel-miranda commented on #329
I don't understand. You can check the pasted text with a regex and do stuff only if you pasted a link, and leave the rest out of it. You can ask for help in the slack https://draftjs.slack.com I don't think this is an issue for github.

[2016-04-21 15:19] southerncross commented on #329
Yes, I did it just like you said, use a customized decorator that only decorate link whose url equals its plain text.
Sorry, I'll close this issue.

[2016-04-21 15:19] #329 closed

[2016-04-21 15:58] hellendag commented on #329
No problem, glad that worked out for you!

[2016-04-21 16:31] southerncross commented on #329
😄

[2016-04-21 23:09] #305 closed

[2016-04-21 23:11] hellendag commented on #318
Seems like it might be useful to have a "Tips & Tricks" section in the documentation, to track pointers like these. Sort of like the "Issues & Pitfalls", but more like advice than like "please don't do that". :)

[2016-04-21 23:23] hellendag commented on #311
Here's the crux of the issue. See the screenshot below, the result (in Chrome 49) of testing on https://dvcs.w3.org/hg/d4e/raw-file/tip/key-event-test.html with the following steps:

- Switch to 2-set Korean keyboard
- Type `d` (ㅇ)
- Press backspace to delete the character.

![el capitan](https://cloud.githubusercontent.com/assets/2823852/14727044/07f14e9c-07dc-11e6-8631-5e019115cb84.png)

The eve

[2016-04-21 23:28] #323 closed

[2016-04-21 23:45] antoinerousseau opened #331 "TypeError: null is not an object (evaluating 'n.nodeType') in editOnInput.js"
I got this from an iOS user:

[code]

UserAgent:

Any idea?

[2016-04-22 05:22] Beingbook commented on #311
@hellendag I see. Even if I pressed delete, `data` still consist composited word in OSX El Cap.
Can I suggest about it?
I saw Draft works well on OSX El Cap Safari. I checked the event occurs.
<img width="900" alt="2016-04-22 2 17 51" src="https://cloud.githubusercontent.com/assets/2682865/14732385/48cb34fa-0895-11e6-9368-db9a55a4e3d2.png">
There's no composition type events. I think Draft doesn't

[2016-04-22 06:05] suhaotian commented on #323
nice work :+1:

[2016-04-22 13:51] apuntovanini commented on #296
+ 1 @masylum, same issue here, with super simple example

[2016-04-22 15:57] gabriel-miranda commented on #326
Any updates on this guys?

[2016-04-22 16:50] hellendag commented on #331
Sorry, it's hard to help out without more information about what led to the error.

[2016-04-22 17:04] hellendag commented on #325
`keydown` and `keypress` events are not used for character insertion. Rather, the React polyfill for `beforeInput` is used for this: https://github.com/facebook/draft-js/blob/master/src/component/handlers/edit/editOnBeforeInput.js.

Within the polyfill, the `keypress` event *is* used for browsers that do not have a native `textInput` event (Firefox, IE), since the `keypress` event is intended to i

[2016-04-22 17:12] hellendag commented on #311
Hmm. Something is very wrong with Korean input on El Capitan.

I just tried this in Safari and ran into a bunch of different weird event sequences when switching language to Korean or reloading the page, including both yours and mine.

- Initially, I saw something that looked like your screenshot: no composition events, no `textInput` event. (This is unequivocally wrong.)
- I switched to Katakana

[2016-04-22 17:40] antoinerousseau commented on #331
Yeah sorry I'm having a hard time reproducing... (the error was generated by another user)

[2016-04-22 18:09] hellendag commented on #331
It may be related to iOS autocorrect or spellcheck.

It's worth noting that we do not currently have any explicitly supported mobile use cases for Draft at Facebook, so I can't guarantee that behavior will be ideal on iOS. That said, I'd certainly like to iron out bugs as they arise.

[2016-04-22 18:13] antoinerousseau commented on #331
OK thanks! I'll try again to reproduce.

Fyi my draft.js elements are contained inside [React DND](https://github.com/gaearon/react-dnd)-enabled elements (in case you are aware of incompatibilities between the two):

https://github.com/antoinerousseau/mytribe/blob/master/app/pages/Notes.js
https://github.com/antoinerousseau/mytribe/blob/master/app/components/Note.js

[2016-04-22 18:20] hellendag commented on #326
Yeah, this breaks if the text block with the cursor is empty, but seems to work properly otherwise. The cursor is left in an uncertain state, hence the error.

(I think the media examples may also have some selection state issues due to using `window.prompt`, I'm not sure. cc @tasti)

[`RichUtils.onBackspace`](https://github.com/facebook/draft-js/blob/master/src/model/modifier/RichTextEditorUtil.j

[2016-04-22 18:22] hellendag commented on #331
I'm not aware of any incompatibilities, but I haven't tried. You may be blazing new ground there. :)

[2016-04-22 18:44] guitardave24 commented on #326
Correct. I fixed this by locally overriding backspace key command and
checking explicitly for the previous block as atomic, removing it, and
setting the style and cursor in the right place It's not much code and I
expect to delete it once draft is fixed.

Would paste code if I weren't on my phone

On Friday, April 22, 2016, Isaac Salier-Hellendag <notifications@github.com>
wrote:

[2016-04-22 18:48] hellendag commented on #326
Cool. Putting together a fix now.

[2016-04-23 12:46] apuntovanini commented on #296
@hellendag I see it when the component renders, no matter whether it is included in a more complex component or rendered simply

[2016-04-24 09:39] johanneslumpe commented on #185
@hellendag Have you thought about an api for this? Are we keeping `Entity.create` and maybe just additionally pass `contentState` to it, so the entity can be added to the entity map of the current content-state? Or do you have different plans?

What are your thoughts on a method, which encapsulated creation and application of entities, basically a boosted version of `Modifier.applyEntity`:

[code]

[2016-04-24 22:09] hellendag commented on #296
@apuntovanini Can you provide a gist of your code? Are you seeing any issues with refs in the examples provided with the draft-js repo?

[2016-04-25 01:34] alexeygolev opened #337 "get block under cursor onMouseOver"
How would one go about getting the DraftEditor block under mouse  with `onMouseOver`?

[2016-04-25 05:56] Secretmapper commented on #317
I kinda agree, but I think keeping consistency between all of facebook's open source projects is better?

i.e.
https://facebook.github.io/react/
https://facebook.github.io/relay/
https://facebook.github.io/react-native/

https://facebook.github.io/draft-js/ feels at home.

[2016-04-25 07:16] Daniel15 commented on #317
That's not actually consistent though - As far as I know, more projects are using proper domains rather than subdomains :smile:

Some examples:
http://flowtype.org/
http://hacklang.org/
http://hhvm.com/
http://fbinfer.com/
http://nuclide.io/
http://fbredex.com/
http://rocksdb.org/
http://osquery.io/
http://buckbuild.com/
http://frescolib.org/

Especially for projects that already own a domain name

[2016-04-25 08:40] carlesba opened #338 "Adding Gutters"
I'm trying to implement an editor that has gutters on the side so the way I tried it is something like:

[code]

So the Gutter can make a new element for each block that we have. The problem is that **there's not an easy way to sync gutters's height with the actual height of the block** unless we start using `ReactDOM.findDOMNode()` what I think is a bad approach.

How should we build this?

Thank

[2016-04-25 15:15] aem commented on #141
@hellendag though at this point I don't see the API changing, it's worth noting that jQuery established the convention that `return false;` in an event handler stops subsequent handling, yet Draft works exactly the opposite way. I'm not sure which I like better, but it is odd that Draft goes against what jQuery has largely established (for better or for worse) as the "norm"

[2016-04-25 15:27] oyeanuj commented on #338
@carlesba You could take a look and see if this gutter implementation helps - https://github.com/yepnamesjames/draft-js-gutter

[2016-04-25 15:34] hellendag commented on #338
Unfortunately, there is no way to get the rendered height of a block without querying the DOM.

One possibility -- within your `onChange`, you might try something like this:

[code]

In this way, you could be sure to measure only the blocks that actually need measuring.

[2016-04-25 15:36] hellendag commented on #337
Discussed in Slack. :)

[2016-04-25 15:36] #337 closed

[2016-04-25 15:39] hellendag commented on #338
And as you noted in Slack, the `setState` callback can be used for this. Probably the right decision, since it will execute after rendering is complete.

[2016-04-25 15:39] #338 closed

[2016-04-25 15:41] carlesba commented on #338
@oyeanuj draft-js-gutter is buggy when the line is too long and then it falls like another line. Gutter's height won't fit then.

[2016-04-25 15:47] hellendag commented on #141
@aem What I'd actually like to do here is change `handle` functions from returning booleans to returning values of an enum, for this exact reason.

[code]

Booleans suck! :)

[2016-04-25 15:48] aem commented on #141
🙌

[2016-04-25 15:57] hellendag opened #339 "[todo] Change `handle` functions to return enum instead of boolean"
Currently, [`handle` functions](http://facebook.github.io/draft-js/docs/advanced-topics-key-bindings.html#customization) return a boolean to indicate to the Draft handler core whether the event has been handled or not. I wrote this code, and even I still forget whether `true` means that it was handled or deferred. 🙊

To remedy this, I propose that `handle` functions instead return values of a simp

[2016-04-25 20:58] hellendag commented on #302
cc @CLowbrow

Sure seems like a bug that the first block would be treated as unstyled. If you want to put together a PR, I'd be open to it. Thanks!

[2016-04-25 21:06] rnicholus commented on #52
It's not clear if #205 allows custom styles to be associated with text on-the-fly after the editor has loaded. This seems like a very common scenario. Currently, it's not clear how a color picker, for example, can be integrated into Draft.js. It seems impossible at the moment, unless I am missing something.

[2016-04-26 03:29] jorilallo commented on #47
I'm in a pretty similar situation as @rgbkrk, currently using CM for Markdown editing but thinking about switching to Draft.js for WYSIWYG. If anyone dives more into this, would love to hear about good solution patterns :)

[2016-04-26 06:12] Secretmapper commented on #317
Ah proved me wrong :smile: For me draft-js still feels at home at github.io domains - that's probably just me being used to react projects having github.io subdomains though. Anyway that's just my two cents, and I don't really have particularly strong views one way or the other.

[2016-04-26 10:37] SamyPesse commented on #47
@jorilallo We're currently also using [CM for Markdown editing](https://github.com/SamyPesse/codemirror-widgets), but working on switching to Draft:

- [markup-t](https://github.com/GitbookIO/markup-it) Markdown parser to generate draft's contentState, or markdown from draft's contentState
- [react-markup-editor](https://github.com/GitbookIO/react-markup-editor) Editor built on top of Draft with t

[2016-04-26 19:25] #295 closed

[2016-04-27 06:15] grrowl commented on #339
Surely it should mirror native DOM's behaviour, which is `return false` -> don't perform additional actions (or, `preventDefault`)?

[2016-04-27 12:57] apuntovanini commented on #310
@robertgonzales I had same issues with FastClick and Draft-js together, if you're using it remember to put the `needsclick`class to the editor wrapper and to buttons managing styles.

[2016-04-27 14:22] guitardave24 commented on #339
Agree with Tom. I feel it's far too prominent in handler type code to
return undefined (not intentionally and not) to allow propagation. Having
to go through all handler code to return an explicit valid to represent not
handled seems fairly gratuitous.

On Wednesday, April 27, 2016, Tom McKenzie <notifications@github.com> wrote:

[2016-04-27 14:24] guitardave24 commented on #339
To that end it might be worth allowing === true as well and not make it a
breaking change. (On phone haven't looked at PR so maybe you're already
doing this.)

On Wednesday, April 27, 2016, David Byttow <d@bold.io> wrote:

[2016-04-27 15:22] guitardave24 opened #342 "`customStyleMap` is too limiting"
`customStyleMap` works by identifying inline styles and iteratively building a style map by concatenating the maps together in order. For example, a character with BOLD and ITALIC would apply `font-weight: bold` and `font-style: italic`, which works well for thise case.

However, sometimes, you want to apply a single style based on having two overlapping ranges. For example, assuming the ordered s

[2016-04-27 15:32] shalanah commented on #290
Working on a prototype I ran into a similar issue. Since `getVisibleSelectionRect` will find any selection (within or outside of the editor) it still might have data from a selection outside of the editor's text editing div. As a fix for now, I'm checking that the coordinates from `getVisibleSelectionRect` are within my text editing div before displaying an inline toolbar.

[2016-04-27 15:58] hellendag commented on #342
The `customStyleFn` approach is interesting. I don't think you'd have to lose the ability to stack styles, you'd just have to do the combinations yourself.

An added benefit of this function would be avoiding the need to create a new `customStyleMap` object every time a new style name is added. This would be especially helpful for cases like color pickers.

Thinking aloud...

[code]

Is this somet

[2016-04-27 16:10] hellendag commented on #339
As I noted, I find boolean returns confusing, whether it mirrors native DOM behavior or not. Apart from legacy reasons, why is it a more correct convention to return `false` than `true` when no further actions should be performed? :) (It's also worth noting that as of React 14, return values in event handlers no longer have meaning [[#](https://facebook.github.io/react/docs/events.html)].)

As for

[2016-04-27 16:15] guitardave24 commented on #339
I agree with all of your points and to the React 14 note, a more verbose (and perhaps correct) change would be to pass in a Draft-specific event where you can explicitly call a sort of `preventDefault()` on, and not rely on return values at all.

I suppose now is the time to make such a change, and accept that it will cause likely some migration pain to existing clients without a legacy fallback f

[2016-04-27 16:17] guitardave24 commented on #342
Yes, that's exactly what I was leaning towards.

(I wasn't clear by what I meant with the ability to stack styles, I meant you wouldn't get it "for free" and you'd have to implement yourself as you did in the code example.)

[2016-04-27 18:42] georeith opened #344 "How to get content block key from a Node?"
I can see there is the function `findAncestorOffsetKey()` which returns the parent offsetKey for a given node.  The offset key appears to start with the content block key.

Is there a nicer way given a text node to get the content block key than string manipulation on the findAncestorOffsetKey?

My use case for this is implementing focus at point, so that you can pass a point and have the caret ap

[2016-04-27 18:50] georeith commented on #344
NVM just found the [`DraftOffsetKey.decode()`](https://github.com/facebook/draft-js/blob/67c5e69499e3b0c149ce83b004872afdf4180463/src/component/selection/DraftOffsetKey.js) function.

[2016-04-27 18:55] georeith commented on #344
Actually reopening as these appear to be private... I wonder if there is a better way to do what I want using the things publicly exposed by Draft? Not having to include the source code for these twice would be great.

[2016-04-27 21:14] epalese commented on #132
Hi,
is it possible to change the content of the DraftEditorBlock according to some external events (e.g. the status of the checkbox)?

[code]

Thanks

[2016-04-28 10:02] Jarvin-Guan opened #346 "how can i convert raw to html ???"

[2016-04-28 10:53] gchudnov commented on #346
Guess, the question was answered here: #319

[2016-04-28 15:42] hellendag commented on #346
Yes, there are utilities that provide this behavior. It would probably be useful to have a list of them, as I don't remember the project names off the top of my head.

[2016-04-28 15:42] #346 closed

[2016-04-28 15:44] hellendag commented on #344
This is what the `SelectionState` object is used for. The `EditorState` tracks the current `SelectionState` to indicate where the selection should be rendered.

See [`EditorState.forceSelection`](http://facebook.github.io/draft-js/docs/api-reference-editor-state.html#forceselection).

[2016-04-28 15:59] andrewgleave commented on #342
That would be great. I'm in a similar position: needing to implement a color picker and custom font styles.

[2016-04-28 16:13] georeith commented on #344
@hellendag I think there's a misunderstanding. I need this to create the `SelectionState` there is nothing but an empty one before that.

I am just given a coordinate and need to put the cursor there.

I have implemented like so:

[code]

But I am worried that those are private methods and could be changed under my feet and I have to import the code twice to use them. Is there a way to do this wit

[2016-04-28 16:21] hellendag commented on #344
Ah I see, so you have an actual `{x,y}` coordinate that you want to translate. My mistake -- I thought you meant that you had a block/offset point.

It seems like [`getDraftEditorSelectionWithNodes`](https://github.com/facebook/draft-js/blob/master/src/component/selection/getDraftEditorSelectionWithNodes.js) might provide the implementation you're looking for. Do you want to hack that in and see i

[2016-04-28 16:36] georeith commented on #344
@hellendag Thanks that function works great lets me simplify my code a fair a bit. There's still the issue that it is "private", or at least not accessible directly through the built copy. Do you consider these private internally? As in would you warn before changing these or would these affect versioning?

Here's the new code for reference incase someone stumbles on here looking for the same:
[co

[2016-04-28 17:03] georeith commented on #344
Actually using that function can be dangerous as it throws if passed any node not in the editor or without a parent offset key. Which could be possible with a `{ x, y }` coordinate.

[2016-04-28 21:19] andrewgleave commented on #342
Is this something that, if implemented, would likely be merged, and does anyone have plans to work on it?

If not, I'll take a look since I have a deadline and don't want to have to drop Draft because I can't implement a color picker.

[2016-04-28 21:21] guitardave24 commented on #342
Nothing prevents you from implanting a color picker. That said I was
planning to work on this next week. But have at it.

On Thursday, April 28, 2016, Andrew Gleave <notifications@github.com> wrote:

[2016-04-28 21:22] hellendag commented on #342
@andrewgleave I'd certainly be open to a PR.

I think a color picker should be doable already, though with some awkwardness around forcing re-renders.

[2016-04-28 21:28] maksimsemenov commented on #28
Hi there,

There is still mistake in the docs: https://facebook.github.io/draft-js/docs/api-reference-data-conversion.html#content

convertFromRaw(rawState: RawDraftContentState): ContentState

[2016-04-28 21:32] dustin-H commented on #28
Where? Can't find it.

[2016-04-28 21:49] robertgonzales commented on #310
I'm not using FastClick—thanks though.

I recorded a video of the issues mentioned above: https://dl.dropboxusercontent.com/u/36972775/focus-selection-issues.mov

[2016-04-28 21:51] andrewgleave commented on #342
I presume you mean that I could just mutate `customStyleMap` and force a re-render to get the behaviour? Or have I missed something?

If I get time, I'll be looking at this early next week.

[2016-04-28 22:26] robertgonzales commented on #310
@apuntovanini thanks! fastclick was the issue. Unfortunately using the `needsclick` class isn't fixing it for me. Would you mind sharing a code snippet of where you added the class?

[2016-04-29 02:16] maksimsemenov commented on #28
Here is a screenshot of this page: https://facebook.github.io/draft-js/docs/api-reference-data-conversion.html#content

I marked the mistake with the red rectangle
![group](https://cloud.githubusercontent.com/assets/3608139/14906894/d31150ba-0d8e-11e6-8b9f-c057a8a1cd3c.png)

[2016-04-29 08:03] llh1 opened #347 "How to simulate user input for testing purpose?"
Hi all,

First, thanks for providing such a great library.

Actually, this is more a question than an issue. We are trying to write tests including the rich text editor that we built using DraftJS. Our rich text editor is part of a bigger form (written with React) that we need to test. One of the problem that we faced is we don't know how to simulate a text input into our editor. Ideally, we would

[2016-04-29 11:05] llh1 commented on #347
Well, I've finally found the answer to my question debugging Draft.
So here is the solution if anybody needs it. You need to target the dom node with the class name `public-DraftEditor-content` and trigger a `beforeInput `event.

With React TestUtils:
[code]

[2016-04-29 11:05] #347 closed

[2016-04-29 11:26] dustin-H commented on #28
What do you think should be there?

[2016-04-29 12:29] maerzhase opened #348 "handle SelectionState for multiple blocks (more than two)"
i am wondering how to work with the SelectionState if the user has selected more than 2 ContentBlocks. How do I get the Text of all ContentBlocks? Do u i have to traverse through the whole ContentState from startBlock till endBlock, or is there a more direct way to obtain all the selected text?

[2016-04-29 12:52] maksimsemenov commented on #28
From conversation above instead of **ContentState** there should be array of **ContentBlocks**

[2016-04-29 13:03] dustin-H commented on #28
Ah, now I see. I had fixed this in [PR](https://github.com/dustin-H/draft-js/commit/aa48ab74736d5687c7acb58256c24fd647227c90).

However, it was changed it back by @hellendag [here](https://github.com/facebook/draft-js/commit/d8823c95eb3488b491fd05b909666db190d32d96)

This was because the return type has changed [here](https://github.com/facebook/draft-js/commit/844b85e6576b0575a716bbfe038133673748

[2016-04-29 14:10] apuntovanini commented on #310
@robertgonzales I tried adding the class to wrapper and style buttons with no success, since I reckon Drafts has no alternatives, I abandoned Fastclick :) If you find out solutions let me know! thanks a lot

[2016-04-29 14:31] maksimsemenov commented on #28
Oh, thanks. I used a 0.5.0 version and it was returning an array of ContentBlocks, so I thought that there is a mistake in docs. Now, after I've updated to 0.6.0 it works fine.

[2016-04-29 17:18] hellendag commented on #348
A `SelectionState` has two endpoints, which may be in different blocks. See http://facebook.github.io/draft-js/docs/api-reference-selection-state.html#content for details.

You can use the `immutable` API to map over the blocks within the selection, using the `OrderedMap<string, ContentBlock>` returned by `ContentState.getBlockMap()`. Namely, `skipUntil` and `takeUntil` are useful methods for extr

[2016-04-29 17:18] #348 closed

[2016-04-29 17:23] hellendag commented on #344
Exposing the functions shouldn't be a problem for versioning, assuming they aren't going to be removed later. As I mentioned, I'm open to exposing functions if it becomes clear that they are needed for developers -- it just made sense to start narrow and expand from there.

For the `root` parameter, you should pass in the root element of the editor itself. Take a look at how the function is used w

[2016-04-29 17:25] hellendag commented on #342
@andrewgleave: Exactly. If you add new values to your `customStyleMap`, and relevant `ContentBlock` objects have the new style strings, then re-rendering the editor should re-render those blocks accordingly.

The awkwardness arises when making changes to the `customStyleMap` without corresponding changes to the `ContentState`, which would necessitate forcing a re-render of the editor.

[2016-04-29 17:27] hellendag commented on #339
I've considered this, though I'm leery of creating new event-ish objects for it, with their own APIs to understand and document.

Yeah, I figure it's better to surface breaking changes now while the framework only been out for a couple months. :)

[2016-04-29 17:29] guitardave24 commented on #339
Agreed. Are you planning to work on this today @hellendag?

[2016-04-29 17:58] andrewgleave commented on #342
Yeah, that's what I'm/was doing.

I made a start late today on adding support for `customStyleFn`. Will let you know.

[2016-04-29 20:45] johanneslumpe opened #349 "Applying entities across multiple blocks does not work"
When applying entities across multiple blocks, they are only applied to the first block, as can be seen here:
![entity_fail](https://cloud.githubusercontent.com/assets/3470207/14929095/81426cfc-0e64-11e6-875a-e9852849eceb.gif)

[2016-04-30 09:35] sdoomz commented on #53
As an alternative you can set your console filter to regexp mode with the value: `^((?!contentEditable).)*$`

[2016-04-30 13:47] sisodiaa opened #352 "insertAtomicBlock is not storing 'atomic' entity in entityMap of Editor State"
I am trying to add image(s) in my draft editor, but insertAtomicBlock is not functioning as expected.
Though it is updating the Blocks of EditorState, it is not updating entityMap as shown in screenshot below.
![image](https://cloud.githubusercontent.com/assets/6825806/14936191/8e077ef8-0f06-11e6-98e8-3770b6a221ca.png)
Here first column is current EditorState, second column is EditorState obtained

[2016-04-30 14:01] johanneslumpe commented on #302
For what it's worth: this bug applies to any kind of block, not just bulleted lists. If I have any two blocks and I copy them, then remove all content and paste them again, the first one will be pasted as `unstyled` block.

[2016-04-30 15:03] johanneslumpe commented on #302
@hellendag Here is a gif of a fix I've been working on.
It properly pastes all block types and also retains the type of the fragment block.

![replace_type](https://cloud.githubusercontent.com/assets/3470207/14936763/61d955b2-0efd-11e6-90a8-b6d7e76f976b.gif)

For now I took the liberty to retain type of the block we are pasting into, when the block is not empty. If it is empty, the type will becom

[2016-04-30 17:10] epalese opened #353 "Custom components with text"
Hello,

I am trying to implement custom block components that include text as part of their content and what I want to achieve is a seamless integration of the text component in the custom component with the containing editor.

I've modified the two following files in TeX example:
[TeXEditorExample](https://github.com/epalese/draft-js/blob/master/examples/tex/js/components/TeXEditorExample.js)
[Te

[2016-04-30 17:24] hellendag commented on #353
Nesting `Editor` instances within custom blocks is theoretically doable, but you will definitely need to set `readOnly` on the outer editor. Without this, selection handling is almost certain to break.

@bkniffler has been experimenting with this and may be able to lend a hand.

[2016-04-30 17:28] hellendag commented on #352
It would help to have more information about what is leading to this error, especially a trace.

Based on the screenshot, I don't see any problems with your data. Since `entityMap` is not expanded in the second column, I can't tell whether the entity has been added. Since you have a `DraftEntityInstance` available, I assume that it actually was set in the global `Entity` map correctly.

What are y

[2016-04-30 17:35] hellendag commented on #39
I assume we're ok here?

[2016-04-30 17:35] #39 closed

[2016-04-30 17:37] hellendag commented on #126
Trying to do releases as often as I can while making sure our use cases on FB remain stable. Hopefully it's been sufficient. :)

[2016-04-30 17:37] #126 closed

[2016-04-30 17:39] hellendag commented on #124
`media` has been renamed to `atomic` and editability can now be set via the custom block configuration, so we effectively have wrapper support.

Enabling block-level selection for non-editable blocks is very much still worthwhile, but perhaps belongs as a separate issue and discussion. :)

[2016-04-30 17:39] #124 closed

[2016-04-30 17:42] hellendag commented on #150
Does the TeX example help suggest how something like this might be done?

Nesting a `contentEditable` within a Draft editor could lead to some significant issues with selection handling, so that would be my main concern. However, by setting the outer editor to `readOnly` while you are providing edit behavior within your widget, as in the TeX example, you can nest inputs.

[2016-04-30 17:44] hellendag commented on #170
I suggest using `handlePastedText` to override the default behavior for known code pastes. We can revisit whether the default paste processor should be modified.

[2016-04-30 17:44] #170 closed

[2016-04-30 17:51] hellendag commented on #283
@Rosey That could be okay. It seems like `editOnInput` needs a branch to handle all the crazy stuff that Safari and iOS built-in contenteditable behavior might throw at the editor.

It's pretty disappointing to be at the mercy of OS-level configuration like this. Why does Safari get to decide whether my web editor should have links? I have the same frustration with iOS' contextual styling menu --

[2016-04-30 18:40] sisodiaa commented on #352
[code]

I have created [a sample editor](https://gist.github.com/sisodiaa/d2c5e31e52d486887d5e42a73e7cc50d) for adding an image, loosely based on 'Media' example, and there too I am encountering the same error raised by following line
`const entity = Entity.get(props.block.getEntityAt(0));`

In this sample editor I am using a `blockRendererFn` which refers to a React component to render this atomi

[2016-04-30 18:50] hellendag commented on #352
Can you provide an input other than `window.prompt` and see if that helps?

I've found that `window.prompt` can cause problems with DOM selection state, so you may be ending up with the entity in the wrong place.

[2016-04-30 19:06] sisodiaa commented on #352
I have removed `window.prompt` and replaced it with URL string (i.e. no input now), but the error persists.

[2016-05-01 01:05] hellendag commented on #352
You need to use a character here: https://gist.github.com/sisodiaa/d2c5e31e52d486887d5e42a73e7cc50d#file-app-es6-L42. Using the empty string, you won't have a character to attach the entity onto. (This is an awkwardness that I'm hoping to improve in the future.)

[2016-05-01 01:55] hellendag commented on #325
@coopy, did this help resolve the issue for you?

[2016-05-01 02:11] sisodiaa commented on #352
Thanks, it solved the problem.
On a closer look even example code supplied a space character which I misread as an empty string. :(

[2016-05-01 02:11] #352 closed

[2016-05-01 02:21] hellendag commented on #352
Sorry for the weird API. :)

[2016-05-01 02:22] hellendag opened #355 "FYI: I'll be off the grid during May"
Hey everyone, just wanted to give a heads-up that I'll be taking time off work for the whole month of May.

I'm going to try to be off the grid as much as possible during the month, which means I won't be able to be active responding to issues and pull requests, and I won't be able to import anything into the Facebook codebase.

I'm importing and merging a bunch of stuff today (April 30) and will

[2016-05-01 02:46] #204 closed

[2016-05-01 02:47] #349 closed

[2016-05-01 02:53] #326 closed

[2016-05-01 11:08] bkniffler commented on #353
Hi @epalese, these are some great questions!

I think that using a nested draft editor is a valid approach, and I've gotten very smooth results (with the table and the captions here http://draft-wysiwyg.herokuapp.com/).

I saw that you use onClick, which leads to your second issue; draft-js uses onMouseDown for selection (I guess) and a click only results in the editor getting focused, with the se

[2016-05-01 22:31] epalese commented on #353
Hey guys,

thanks for your promptly replies.

@bkniffler I've played very quickly with onMouseDown and I had problems to control the propagation (it is both intercepted by both the inner and outer editor even if I explicitly call stopProgation()).
But I am going to spend some more time on it and on the suggestions you gave me and I'll keep you posted on what I manage to achieve.

I've seen draft-w

[2016-05-02 03:30] varun-raj opened #357 "Key Bindings Doesn't Works With Enter Key"
How can I listen for <kbd>enter</kbd> or <kbd>return</kbd>, No event is triggered for this key.

[2016-05-02 03:33] guitardave24 commented on #357
Which version are you using?

`return` flows through `handleKeyCommand` as of 0.6.0. But you can also use `handleReturn` for this. See https://facebook.github.io/draft-js/docs/api-reference-editor.html#handlereturn

[2016-05-02 04:36] varun-raj commented on #357
Yep. with 0.6.0 it worked 👍  @guitardave24 thanks

[2016-05-02 04:36] #357 closed

[2016-05-02 05:51] liran319 opened #358 "[Question]How to pass data which is fetched from server into the Editor?"
[code]

And RichEditor is a component based on **Editor** of Draft.js:
[code]

But I cannot find where I can pass the current data(body_html) into the Editor?
Anyone could do me a favor? Many thanks!

[2016-05-02 05:56] guitardave24 commented on #358
If you want to pass raw HTML, you will need to do this programmatically with `convertFromHTML`. See https://facebook.github.io/draft-js/docs/api-reference-data-conversion.html#convertfromhtml

From there you'd do something like this in your constructor:
[code]

[2016-05-02 05:57] mitermayer commented on #358
DraftJS does not by deafult starts from html, but you can implement your own functions example:

[code]

[2016-05-02 06:01] guitardave24 commented on #342
@andrewgleave check out the referenced PR above.

[2016-05-02 06:16] phs1919 opened #359 "Internet Explorer Korean Input"
As noted in the [documentation](https://facebook.github.io/draft-js/docs/advanced-topics-issues-and-pitfalls.html#ime-and-internet-explorer), Draft js editor has some issues with Korean input on IE 11. While searching for a specific issue/viable workaround, I could only find this [issue](https://github.com/facebook/draft-js/issues/311), which I think is a different problem regarding Korean input.

[2016-05-02 09:19] dmr commented on #188
What is the status on this feature?

For our use case copy and paste from Microsoft Word ist a common task. Draft.js does not handle this very well right now --> Are there any plugins oder anything like this available to provide this functionality?
Not the whole .docx standard but Bullet point lists and base formatting.

Thanks for bringing this topic up @thesunny

[2016-05-02 11:36] remko commented on #188
I was planning on submitting a PR soonishly for issue 1 and 4 (on the basis that this is common behavior in other editors), but was waiting on #264 to make this easier (which is now integrated).

2 and 3 are probably implemented in many of the Draft-based projects and/or plugins, so you can have a look there. Copy/paste issues from Word sound like a different issue than this one, though. (this iss

[2016-05-02 15:50] mattmarcello commented on #296
I am seeing this issue with the most contrived example in both chrome and firefox.

Also, in more complex examples that involve unmounting of this component, i am seeing a `removeComponentAsRefFrom(...)` invariant.

[code]

[code]

[2016-05-02 20:29] spicyj commented on #359
As far as I know, IE doesn't fire the proper events when doing IME in Korean so we basically have no idea what's going on. If you find otherwise, we'd be happy to take a pull request _ but based on what I've heard this sounds unlikely to ever work, unfortunately. At Facebook we just don't serve the Draft-based editor to IE users in Korean.

[2016-05-02 20:29] #359 closed

[2016-05-03 00:37] felipellrocha commented on #47
@hellendag Can you share your decorator class example? I'm trying to build a highlighter of a toy language I built, and If I had the example, I could get this done much quicker! 😄

[2016-05-03 01:19] coopy commented on #325
Thanks @hellendag. I spent a little bit of time trying to generate `textInput` events, without success. I decided to stop trying and spend the cycles on Selenium acceptance tests instead.

If I go back to this approach, I will definitely not use the `role` attribute but instead use the `webDriverTestID` prop. Thanks for the 🐮 tip!

[2016-05-03 09:02] andrewgleave commented on #342
@guitardave24 Excellent!

[2016-05-03 14:51] grzeczko commented on #36
Hi @JohnCoates,
I'm having exactly the same issue!  I'm writing a Firefox extension to add Polish characters to any text field using keyboard shortcuts.  It's working for all text fields, except for Facebook. I'm getting the same issue as you are describing.  I've done lots of research and it's hard to find a solution.  Did you find a fix yet for this issue?   I'm still working on it, so if you ha

[2016-05-03 16:52] mattmarcello commented on #296
This issue was resolved for me by ensuring that I don't have multiple copies of React loaded.

[2016-05-03 17:54] grzeczko commented on #36
I figured it out.  Once you execute `document.execCommand("insertHTML", false, "X");`, check to see if the length of `<span data-text="true">X</span>` is 1.  If it is, just run `document.execCommand("undo", false);` and voila!  it works!

[2016-05-03 17:56] spicyj commented on #296
It's very likely that anyone else seeing this is also using multiple copies of React – probably one that Draft is using and one that the rest of your app is using. It's possible we could change Draft to use the function-style refs that can work around this problem, but you don't want multiple copies of React regardless because it's inefficient and can cause other problems like this.

[2016-05-03 18:17] grzeczko commented on #36
Here's the code:

`if (document.querySelectorAll('span[data-text="true"]').length === 0) {
    document.execCommand("insertHTML", false, "X");
    document.execCommand("undo", false);
} else {
    document.execCommand("insertHTML", false, "X");
}`

It will check to see if you entered the first character.  If you did, it'll do the undo execCommand and remove the extra X.  The `else` will just inser

[2016-05-03 23:20] mitermayer opened #363 "Rename the default bundle"
For consistency with the published npm package name would be ideal to have the default bundle as 'draft-js.js' so that it matches the published name on npm. Only downside is the double up of 'js'

The current use case for the above is by being able to `import Draft from 'draft-js'` loaded from an alternate modules path with a local copy that resembles draft-js from github master therefore allowing

[2016-05-03 23:22] spicyj commented on #363
Can you clarify which default bundle you mean? Is there a reason you can't choose the local file name to be whatever you want it to be?

[2016-05-03 23:34] zpao commented on #363
Or if you're testing with the latest branch and (presumably) building that bundle - maybe you can use that package as you would from npm (eg `npm pack` it and install that)

[2016-05-03 23:54] mitermayer commented on #363
By bundle I mean the default dist filename output. But The above are two valid options to avoid that. I undertstand that having 'draft-js.js' would look weird.

[2016-05-03 23:54] #363 closed

[2016-05-04 08:43] marudor opened #366 "Expose flow."
Hey,
As I can see draft-js uses flow and has flow annotations.
Would it be possible to leave them in in the dist?
This would allow people who use flow to take advantage of them.

[2016-05-04 10:25] southerncross opened #367 "Didn't find documentation of `blockRenderMap`"
Hi, all

Draft 0.7.0 added a breaking feature `blockRenderMap`, but I didn't find documentation about it.
Did I miss something?

[2016-05-04 15:23] dmr commented on #188
Cool, thank you for the quick reply

[2016-05-04 18:03] zpao commented on #366
We have some infra for this in place (it's how fbjs works) so it should be possible. I'm not sure if that method is the best way to do it for something like this or if we'd want a single top-level flow lib. Let's talk with @hellendag when he gets back (per #355)

[2016-05-04 18:05] marudor commented on #366
I've talked to jeffmo of flow and he suggested either .js.flow files or a single top level flow lib (like immutable.js)

[2016-05-04 18:26] zpao commented on #366
Right, those are the options I'm talking about too :) We can build the .js.flow files easily and that *should* work but it might be cleaner long term to do a single flow lib.

[2016-05-05 08:33] llh1 opened #368 "Draft flashes on IE9/10/11+ when moving cursor or selecting text"
Hello,

I've run into some issues using DraftJS with internet explorer 9 and above.
You can reproduce the following issue on the first page of Draft website.

1) Open draft website with IE9+
2) Insert or paste a long text into the text editor (maybe until you see a scrollbar in the window)
3) Try to change the cursor position or select some text in the editor
4) You will see the editor flashing ev

[2016-05-05 10:33] mitermayer opened #369 "Pasting HTML content ignores the first block style"
If you paste

[code]

this currently generate the blocks:

`'unstyled', 'header-two' `

desired outcome would have been

`'header-one', 'header-two' `

the first block is always keeping the same 'block' that was active before the pasting

[2016-05-05 16:48] coopy commented on #185
This enhancement would fix this issue:

When importing HTML containing `<a>` tags via `DraftDraftPasteProcessor.processHTML`, the `LINK` entities get parsed, but seemingly on the wrong `Entity` object.

When a decorator with a strategy like the one in the [link example](https://github.com/facebook/draft-js/blob/master/examples/link/link.html) then is used to create the `editorState` from `contentS

[2016-05-05 16:52] johanneslumpe commented on #185
I will start on this on the weekend probably.

[2016-05-05 16:52] georeith opened #371 "How is it recommended to do dynamic styles?"
Say I have an editor and I want to add a colour picker and allow the user to pick the font size. This question applies to any style where the list of possibilities is far beyond what is sane to precompute.

We have custom style maps, and can add definitions to it on the fly like so:

[code]

Yes there are issues that if we don't update the contentState it won't re-render but we can get around that

[2016-05-05 20:15] guitardave24 commented on #369
Pretty sure this is the same as https://github.com/facebook/draft-js/issues/369

cc @johanneslumpe

[2016-05-05 20:23] spicyj commented on #369
This is #369. :)

[2016-05-05 20:35] guitardave24 commented on #369
Gah. Meant https://github.com/facebook/draft-js/issues/302

[2016-05-05 20:44] spicyj commented on #367
Looks like we don't have docs yet. You can see some a usage example in the commit: e2037984.

[2016-05-05 22:50] georeith commented on #344
This is a bit of a special case where the editor is hidden until this point and then shown and focused at the same time (hence why I am focusing manually instead of letting the natural events occur), most people can use that though, I'm happy to check the node is contained by the editor manually.

Thanks for the info, nice to see you will be exposing more.

[2016-05-05 23:26] mitermayer commented on #367
I am creating a new PR with the docs for it today.

[2016-05-05 23:27] mitermayer commented on #369
Closing this issue as a duplicate

[2016-05-05 23:27] #369 closed

[2016-05-06 02:04] southerncross commented on #367
@spicyj @mitermayer Great! 👍

[2016-05-06 02:04] #367 closed

[2016-05-06 04:41] llh1 commented on #368
I still don't know the real issue here but I've found this is happening because of the focus() function. In the example, and as described in the doc (https://facebook.github.io/draft-js/docs/advanced-topics-managing-focus.html), the container of the Draft Editor may have a onClick listener with a call to focus().

Like in the plaintext example:

`<div style={styles.editor} onClick={this.focus}>

[2016-05-06 11:59] darklightblue opened #375 "Can't detect Shift+Enter on Keybinding."
Hello, I'm new to Draft-js and it seems that the keybinding function can't detect the shft+enter thing.

[code]

on my class
[code]

The above code can't detect the enter key,

And if I use the `handleReturn` it only reads when I press enter, or.. Am I missing something? thanks!

[2016-05-07 15:59] kaizen1 commented on #129
I have a use case where block level content could have multiple data values (i.e. multiple key/values assigned at the block level e.g. not just a URL). Does this fix allow that? For example: author: Joe; workflow: approved;
Not a coder so please go easy on me ;)

[2016-05-07 19:36] #277 closed

[2016-05-09 09:56] llh1 opened #377 "[IE bug] Underline style unexpectedly removed"
Hi all,

New episode regarding my travel in IE land ;)
I've found an unexpected behaviour regarding the underline style. Only happen in IE so far.
Below is a small gif to reproduce it, it's quite easy: write some text with underline style, then select bold style. Then you expect the following text you input would be bold and underline, but the underline style is lost.

![immensegoodaoudad-size_res

[2016-05-09 09:58] andrewgleave commented on #371
See #342

[2016-05-09 11:43] georeith commented on #371
@andrewgleave I have seen that but it is a different issue. That still requires you to make tons of entries, that is more about if I have Bold and Italic with a given font... let me override the default behaviour because I don't want to use the faux bold and italic provided by browsers.

This is more let me choose from 16 million colours in a sane way that doesn't involve ridiculous amounts of par

[2016-05-09 18:27] #302 closed

[2016-05-10 00:34] jorilallo commented on #47
@SamyPesse Interesting, this is pretty much what I was looking for as I'm building a sideproject in the similar space (big fan of Gitbook!). I'll take another look when I get to rebuilding with Draft.js

[2016-05-10 11:32] andrewgleave commented on #371
I store both the editor state and a custom style map in a reducer which are persisted to the backend. When a color is chosen using the picker, I store the color in my style map with a static key e.g. `FOREGROUND_COLOR`. Then, in `draftStyleFn` I simply look up the color from my style map.

    getStyleFunc(style) {
      const output = {};
      if(style.has('FOREGROUND_COLOR')) {
        output.c

[2016-05-10 12:45] SamyPesse commented on #143
@ohanar I'll be happy to contribute to such a PR.

[2016-05-10 15:42] jeffmo commented on #366
I agree. Once we get the [flow-typed](https://github.com/flowtype/flow-typed/) CLI shipped, the next thing i would like to explore is some tooling to generate libdefs from flow typed .js files (for contribution). If that works out well, maybe we can build tooling to auto-contribute libdefs on `npm publish` for each version...

[2016-05-10 15:44] jeffmo commented on #366
(but in the meantime, .js.flow files might be a good stop-gap if it's easy)

[2016-05-11 03:15] abuchanan opened #380 "Ability to retain pasted custom entities"
We have a custom entity which needs to be copy/pasted across editor instances. I think this is related to https://github.com/facebook/draft-js/issues/166 but my gut tells me the implementation could be different.

From what I see, Draft does not have a generic way of processing entities in pasted HTML and it currently only supports LINK entities being pasted [(convertFromHTMLToContentBlocks code)]

[2016-05-11 03:25] mitermayer commented on #380
I am working on something similar. We could also go one step above and incorporate custom atomic blocks. I have created already a custom one for a project. Working on making it generic and will assign a PR covering it.

It will cover entities and custom atomic blocks support, and also the ability to preprocess during the chunk generation and postProcess the contentBlocksArray before it is return f

[2016-05-11 05:18] Viclick opened #381 "Depth of (custom) blocks is not preserved when converting to raw"
As can be seen on the console demo, the conversion to raw doesn't serialize depth properly. (In the first raw state I have entered it manually.)
![Console demo](https://cloud.githubusercontent.com/assets/13902120/15170648/fbb76866-1747-11e6-8801-504ddc8aea1b.png)

If this needs more information drop me a line on Slack (draftjs.slack.com - @viclick) or contact me by any other means.

[2016-05-11 06:18] Viclick commented on #381
It's caused by this piece of code:
https://github.com/facebook/draft-js/blob/master/src/model/encoding/convertFromDraftStateToRaw.js#L75-L78
The function canHaveDepth IMHO falsely detects that my custom blocks cannot have depth. That's kind of well... wrong I guess...

[2016-05-11 06:56] Viclick commented on #381
For now the workaround is this:
`	let rawState = convertToRaw(contentState);
	rawState.blocks.map(block=>{
		block.depth = contentState.getBlockForKey(block.key).depth;
		return block;
	});`

[2016-05-11 11:58] mitermayer commented on #143
Hi @ohanar being thinking a lot about this issue, and I agree with all the proposed changes by you.

But I believe that in order to get this work into the product we would need to  also think this issue is of extremely importance for the future of Draft-js therefore we need to come up with a solution that involve a reduced scope of changes and aiming to provide backwards compatibility.

In a very

[2016-05-11 12:12] olup opened #382 "handle key command doesn't fall through on false"
My handleKeyCommand on the editor checks for backspace, and, given a condition, operates some actions. If the condition is not met, i'd like to apply normal backspace event.

So, as advise in the doc, i return false in my handleKeyCommand function.

But however i try, I can't get it to work, and the normal event never fires.

Is that an issue or some behavior i didn't master ?

[2016-05-11 16:49] pioul commented on #65
Hey @hellendag! I stumbled on this issue looking for the same doc, and then spotted you recently added some doc for `EditorChangeType` in #315: I'm wondering if there's more doc to come, or if this issue could be closed and the link in the [push description](https://github.com/facebook/draft-js/blob/master/docs/APIReference-EditorState.md#push) updated?

[2016-05-11 20:46] johanneslumpe opened #384 "Update `convertFromHTML` to return `ContentState`"
@hellendag Since `convertFromText` and `convertFromRaw` now return `ContentState`, wouldn't it be useful if `convertFromHTML` would do the same? I propose that we wrap the actual conversion function and have `convertFromHTML` do something like this:

[code]

Thoughts?

[2016-05-11 22:10] andrewgleave commented on #371
Basically, I store a map of custom styles along side my editor state. When a color is chosen, I create a key based on a constant, the selection range and offset e.g. `FG_COLOR-17`. Since the key for a given range will always be the same, I can just set the color in my style map and get the behaviour I need.

Style func is something like:

    getStyleFunc(style) {
        return this.getEditorStyl

[2016-05-12 02:37] jamesjjk opened #385 "Rendering isomorphically"
Draft-js is great! But we are rendering our app isomorpically, draft-js creates a checksum error when doing so? Using react 14.8. Any way we can avoid this?

[2016-05-12 02:44] spicyj commented on #385
What in the HTML differs?

[2016-05-12 02:46] jamesjjk commented on #385
[code]

[2016-05-12 03:30] spicyj commented on #385
Interesting, okay. Maybe we can create and add that editor key after initial render or only when you copy…

[2016-05-12 03:35] jamesjjk commented on #385
Yep, any work around for this?

[2016-05-12 03:38] spicyj commented on #385
You could… stub out Math.random while doing the initial render? Other than that, not really. You could also look at not rendering the Draft component at all on the server.

[2016-05-12 03:41] jamesjjk commented on #385
@spicyj it would be cool to get a PR done to get the Math.random replaced as a key. Do you think FB will assign this as a bug? I will work with it as is for now, and consider not rendering isomorphically. Although thats the part I'm really keen on as I have 100% coverage at the moment.

Thanks!

[2016-05-12 03:43] spicyj commented on #385
It's mostly not clear what to replace it with. Certainly willing to accept good alternatives but this isn't very high priority for me.

[2016-05-12 03:52] jamesjjk commented on #385
I understand this key is used to define editor instances? Can we provide a prop for the key, else use math.random?

[2016-05-12 08:39] SamyPesse commented on #143
@mitermayer I've started some experimentation the other day (https://github.com/facebook/draft-js/compare/master...SamyPesse:feature/tree). The goal was to keep the current data modelling and just add an optional `blockList` property to `ContentBlock`, to not be breaking changes:

[code]

My branch is far from working. I'll maybe keep experimenting on this.

[2016-05-12 09:28] dphoursa opened #386 "[Question] Best way of grouping blocks"
Hi,

Is there a good way of grouping or wrapping different blockTypes?

I have been trying to do this with _customBlockRenderMap_, which is then added to the editor via _blockRenderMap_.
However this doesn't quite work, as all the blocks that have the same wrapper, and are next to each other, get wrapped together.
What I would like to achieve is certain blocks restart the grouping process and are

[2016-05-12 12:11] mitermayer commented on #386
Hi @dphoursa, you are right, the blockRenderMap provide a wrapper for a single blockType at a time. Draft has a linear data structure and at the moment does not support block type level nesting, this would require a tree data structure. There is a ticket open for that issue https://github.com/facebook/draft-js/issues/143.

Also included the missing documentation for blockRenderMap on https://githu

[2016-05-12 12:18] mitermayer commented on #143
@SamyPesse I am happy to work together with you on that branch if you don't mind. I really want to get this issue resolved. :)

[2016-05-12 14:27] SamyPesse commented on #143
@mitermayer Awesome, I've added you as a collaborator, it might be a good idea to open a PR and move the discussion there.

Concerning the implementations, I think the high level steps should be:

- [x] Add `blockList` to the `ContentBlock` model, and supports it in decode/encode with RawContentState
- [ ] Modify the react components to display the tree (no support for editing)
- [ ] Modify the mo

[2016-05-13 10:32] Zulfia73 commented on #248
I did all as say @mitermayer, but i'm have error.
my code:
`onCenter(self){
    self.onChange(RichUtils.toggleBlockType(self.state.editorState, 'centerAlign'));
  }
`

and that error:
`nullthrows.js?2b54:18 Uncaught Error: Got unexpected null or undefined`

what i'm do wrong?

[2016-05-13 11:02] inyono opened #390 "How to create custom inline components without text"
I'm currently stuck at creating custom inline components. I want to have a component for inline LaTeX equations. I tried to follow [Creating and Retrieving Entities](https://facebook.github.io/draft-js/docs/advanced-topics-entities.html#creating-and-retrieving-entities) but I'm not sure what to pass `Modifier.applyEntity`. Something like this didn't work as intended:

[code]

I now can create an i

[2016-05-13 11:54] mull commented on #390
Just going to share the snippet I shared on Slack. This

1. Inserts an empty space before the current selection
2. Adds a blank character with an entity (which I then render customly through a decorator)
3. Adds a blank character afterwards

[code]

[2016-05-13 12:02] Zulfia73 opened #391 "Block style give error"
I want add text direction(legt, right, center). And I used getBlockStyle(blockStyleFn),
but i have error

I have code:

Block Style

`const getBlockStyle = (block) => {

  console.log(block.getType())

[code]

}`

When my left-button clicked, call this event:
`onLeft(self) {
    self.onChange(RichUtils.toggleBlockType(self.state.editorState, 'leftAlign'));
  }`
this my `onChange`
`this.onChange =

[2016-05-13 12:31] mitermayer commented on #391
I wonder if that could be the same as what this PR should be fixing https://github.com/facebook/draft-js/pull/372/files

[2016-05-13 12:33] mitermayer commented on #248
@Zulfia73 I think we will need https://github.com/facebook/draft-js/pull/372/files to be merged

[2016-05-13 12:52] Zulfia73 commented on #391
@mitermayer error have been when i setState

[2016-05-13 13:01] Zulfia73 commented on #391
@mitermayer and what i am doing now? :D

[2016-05-13 13:07] Zulfia73 commented on #391
@mitermayer

[2016-05-13 13:08] Zulfia73 commented on #391
@mitermayer  i didn'n close! i need help

[2016-05-13 13:08] Zulfia73 commented on #391
ert

[2016-05-13 13:12] georeith commented on #371
@andrewgleave How do you handle removing them? I set colour of some text. Then highlight half of it and some other text and set color on that. You can't just remove the old one on the part of the text you did highlight surely you need to update the key as the selection range has changed for the previous.

Seems worse than defining keys by colors like `color_255_255_255_100`.

I think this could be

[2016-05-13 15:42] frenzzy opened #392 "Tweet example freezes browser tab after typing "a@a" and pressing ←←→"
##### Steps to reproduce
1. Open [Tweet example](https://github.com/facebook/draft-js/tree/master/examples/tweet) in Google Chrome
2. Type the following text in the editor: "a@a" without spaces
3. Press the following buttons on your keyboard: left (←), left (←), right (→)

##### Actual Result
- Browser tab freezes and you can't edit text anymore

##### Expected Result
- You can continue typing and

[2016-05-13 17:39] jussch commented on #390
@mull Thanks for the example snippet.

If I may ask, what does your TEX entity component look like? I'm having a problem keeping the cursor out of the inline math block, and in turn, letting the user make some weird interactions with the rendered math. I've tried setting contentEditable="false" on the math container, but that has some odd behavior when the math is at the beginning or end of the li

[2016-05-13 19:08] johanneslumpe commented on #104
@wcjohnson Is still still an issue with the latest version?

[2016-05-13 19:18] andrewgleave commented on #371
It's all a hack really, and I have to remove unused styles when I remove them from the editor state. It works, but it's not elegant. You proposal would be a clear clear improvement.

Are you planning to implement, and any idea of how much of the API it would touch?

[2016-05-13 19:49] georeith commented on #371
@andrewgleave I will definitely take a look at implementing this if a team member is willing to weigh in and say whether they are likely to accept this proposal and also whether or not they have considered similar and ran into pitfalls. I'm sure similar has been proposed before but I'm not sure whether it would have been quashed because they favoured the style map or whether there are any serious

[2016-05-14 00:13] gesposito opened #393 "Paste from Google Docs"
I'm addressing a particular use case where I should paste content copied from a generic Google Docs document.
So far, on a Mac with OS X 10.11 with Chrome 50 whenever I try to do so, somehow the whole document get styled 'BOLD'.
If I try to do the same, but going through the "Notes" app (copy > paste > copy > paste), then the content looks alright.
I'm not sure where I should look at while trying

[2016-05-14 03:10] ianstormtaylor opened #394 "pasting <pre><code> should not add the CODE inline style"
Right now if you copy/paste something like the following document:

---

A line of text.

    A line of code.

A line of text.

---

Into a document, it will result in the line of code being inside a `code-block` and also having a `CODE` inline style applied to it. It should really only have the `code-block`.

Here's what this looks like on the Draft example editor:

![image](https://cloud.githubu

[2016-05-14 04:32] spicyj commented on #394
Interesting. I didn't even realize you could do monospace inside a code block.

[2016-05-14 06:41] ianstormtaylor opened #395 "is the `paragraph` block type removed now?"
I have been using the `paragraph` block type instead of unstyled, but in upgrading to the lastest version from `0.4.0` (aka somewhere in the recent releases) it seems like the `paragraph` concept for blocks was removed? And in it's place `unstyled` is the only one?

Just wanted to double check if this is true. Might be good to add a breakage note to the release notes if they are retroactively edit

[2016-05-14 09:38] mitermayer commented on #395
paragraph support is still present but it needs to be done using the blockRenderMap, apologies for not having the documentation yet on the website.  The documentation for it is open as a pull-request, but you can read it from here https://github.com/facebook/draft-js/pull/387/files

will paste it here so that you can see

[code]

[2016-05-14 16:59] alexeygolev commented on #237
@marcboeren @CLowbrow it strips all the a's even If I comment out `hasValidLinkText`. Any workarounds? I only need it once to transform the existing html strings to draft raw format

[2016-05-14 19:20] octopitus commented on #392
Seems like there is a bug with `UnicodeBidi`. Remove or change it (in `styles`) to `normal` will fix this issue.

[2016-05-14 19:30] spicyj commented on #392
@octopitus What do you mean, "in styles"?

[2016-05-14 20:18] spicyj commented on #392
I see, in the tweet.html file. This must be a Chrome and Safari bug actually. Taking this HTML

[code]

and no JS, the same thing happens. (I tested using the Draft CSS too, not sure if relevant.) We should simplify the repro and file a bug.

[2016-05-14 20:32] ianstormtaylor commented on #395
Why have the paragraph supported internally but then make it not work until adding it to the `blockRenderMap`? Wouldn't it be better if it's considered a "core" type to just support it fully? Or if it's not a core type to remove it fully?

[2016-05-14 20:37] frenzzy commented on #392
All is OK if remove `unicode-bidi: bidi-override;`
![image](https://cloud.githubusercontent.com/assets/640669/15270555/8c2654d4-1a2c-11e6-9fab-16eb6187c108.png)

[2016-05-14 21:11] frenzzy commented on #392
Maybe editor should use `direction` and `unicode-bidi` css properties only for block elements?
Or is it possible to use both `ltr` and `rtl` somehow on the single line?

[2016-05-14 21:18] spicyj commented on #392
I believe it should be possible to mix directions in a single line. If we report the bug hopefully we will find out the root cause which will give a better idea of how to work around the issue.

[2016-05-14 22:57] psachs21 opened #396 "Issue when reseting state when handling a return statement, Safari specific"
So, weird issue specific to Safari. I reproduced it in the plaintext example by adding a return handler to the component.

[code]
On the iOS simulator, if you type, and press enter, and then start typing again, the cursor and text content get quite confused.

**Update** This is not specific to mobile safari, it applies also to desktop Safari

[2016-05-15 02:03] spicyj commented on #392
Filed bugs:

https://bugs.chromium.org/p/chromium/issues/detail?id=612002
https://bugs.webkit.org/show_bug.cgi?id=157719

[2016-05-16 17:04] #40 closed

[2016-05-16 20:01] johanneslumpe commented on #390
Heads up: right now adding custom text within decorators is not supported. Decorators are only supposed to render what they receive via `props`. Anything else can result in broken state. There was a discussion about allowing something like atomic decorators, which just render custom content which is not selectable, but then maintaining the selection is tricky.

[2016-05-16 21:23] inyono commented on #390
@jussch You can look at my first attempt at https://github.com/ory-am/editor/tree/draftjs with a live demo at https://inyono.github.io/editor. I basically do the same as in the [TeX example](https://github.com/facebook/draft-js/tree/master/examples/tex/) by showing a editor for the LaTeX source after clicking the formula. IIRC, it is the same thing @mull is doing.

[2016-05-18 01:13] aaronshaf commented on #237
This is still sad-trombone. Any ideas for a workaround?

[2016-05-18 05:56] juhaelee commented on #385
@spicyj I'm also getting the following HTML differs in SSR:

[code]

on react v15 and latest (0.7.0) draft.js

[2016-05-18 15:58] uiii opened #397 "single line input"
Hi, I'm using draft.js for a single line input (like a regular HTML input). What all do I need to prevent inserting a new line in the text? I found a `split-block` command, which I have to disable. Next thing is to remove new lines from pasted text, how can I do that? Anything else? Thank you

[2016-05-18 21:10] gdehmlow opened #398 "Selecting a single character then typing it doesn't replace it"
I can replicate it on the [DraftJS demo page](https://facebook.github.io/draft-js/) by typing a single character (such as "t"), selecting it, then trying to type "t" again. "t" should get replaced, with the selection collapsing after the "t". Instead, this does not happen until I type "t" again. This does _not_ happen if the character is different.

The `editorState` passed into `onChange` seems t

[2016-05-18 23:35] spicyj commented on #398
Weird bug, thanks for reporting.

[2016-05-19 05:24] joehua87 opened #399 "Does Entity.mergeData mutate contentState silently?"
I see that it has the variable **instances** in [DraftEntity file](https://github.com/facebook/draft-js/blob/67c5e69499e3b0c149ce83b004872afdf4180463/examples/tex/js/components/TeXBlock.js#L94-L102) , which contains helper functions
[code]
I have some questions
* What happens if we have more than 2 or more instances of Editor?
* Does mergeData mutate contentState **silently** (I haven't see any on

[2016-05-19 06:48] mitermayer commented on #143
me and @SamyPesse  are working on this issue, we already have a working prototype, hopefuly by next week we will be able to wrap the PR https://github.com/facebook/draft-js/pull/388, in the meantime we are tracking issues and remaining tasks on https://github.com/SamyPesse/draft-js/issues, if anyone is keen on contributing please let us know.

[2016-05-19 13:08] carlesba commented on #262
I think the problem is because `getVisibleSelectionRect` is executed on `render` method so **DOM** is not ready yet.
I've solved this by reading `getVisibleSelectionRect` on `componentDidUpdate` (so we know the DOM has been updated with the proper position) and then forcing a re-render.

An simple implementation of this could be:

[code]

[2016-05-19 14:55] psachs21 commented on #396
Additional info: There are null exceptions in the console on safari, but I noticed that chrome also has a slightly strange behaviour in that after you clear the state, the next few keystrokes don't register properly.

[2016-05-19 21:27] gdehmlow opened #400 "Clearing Editor content with cursor in editor causes weird selection behavior when typing"
I saved the [DraftJS demo](https://facebook.github.io/draft-js/) page and made this modification to `RichEditorExample`:

[code]

The idea is that when I press `z`, the editor content should be completely cleared and I should be able to keep typing normally. Here's what happens instead in Chrome:

![draftbug](https://cloud.githubusercontent.com/assets/850025/15408651/1e9e65da-1dc6-11e6-8b02-1e124f

[2016-05-20 00:41] steviesama opened #401 "Draft Editor placeholder color not light gray..."
I'm using the react-toolbox for a lot of controls, and I'm wondering if perhaps it is somehow interfering which the placeholder styling of the Draft Editor placeholder text color.

Here is the text. It is solid black. Also when you go to put the cursor in the box, it appears under the placeholder instead of on top of it and when you type it appears below the placeholder before it switched to where

[2016-05-20 00:52] mitermayer commented on #400
Have you tried doing return false instead of true in there ?

[2016-05-20 00:58] gdehmlow commented on #400
That won't serve the example because then the default behavior will take over. This is a simpler / contrived demonstration of the problem I'm actually having.

[2016-05-20 01:02] mitermayer commented on #400
@gdehmlow you neeed to create a new empty state with an empty selction modifier applied to it

[2016-05-20 03:00] jpuri opened #402 "Incorrect selection when selecting using dbl-click"
If I select a block the test in editor by double click the end key is first character of next block.

[2016-05-20 04:18] steviesama opened #403 "Draft Editor placeholder pushes caret to next line before text entry..."
In addition to the other issue, when you click on the part of the content area where the placeholder is, you can't put the text cursor focus there. You have to click on the line under the placeholder and the cursor appears there. As soon as you type, the placeholder goes away and the cursor jumps up to where it should have been to begin with.

![nextlineentry](http://i.imgur.com/HZXS7hg.png)

And

[2016-05-20 05:31] bmson commented on #342
I have a similar issue, but would like to be able to create `customRenderMap`. The reason for that is that I would like to be able to create a custom inline style with a className that I can manipulate in an CSS file.

My use case is that I want to use `customRenderMap` to create `<redact className="redact" />` and manipulate it using Pseudo CSS.

[code]

[2016-05-20 11:47] mitermayer opened #404 "Flow is broken with immutable versions > 3.7.4"
We currently have on npm

`"immutable": "^3.7.4"`

version 3.7.5 of immutable causes the following error:

[code]

this is related to:
https://github.com/facebook/immutable-js/pull/761 (Fix toOrderedMap and toOrderedSet method definitions #761)

[2016-05-20 11:48] mitermayer commented on #404
can test that by running `npm run flow`

[2016-05-20 11:49] mitermayer commented on #404
should we start shrinkwrap draft-js to avoid this problems ?

[2016-05-20 13:03] nie-xin commented on #403
I got the same problem, any idea?

[2016-05-20 14:32] steviesama commented on #403
I've gotten tired on looking for a solution. At least in my case a placeholder isn't necessarily important. It is annoying though. 8*/ If someone addresses this issue, that'd be cool though. xD

[2016-05-20 16:15] gdehmlow commented on #400
What is the "empty selection modifier"?

[2016-05-20 16:20] gdehmlow commented on #403
In "Issues and Pitfalls", [they write that](https://facebook.github.io/draft-js/docs/advanced-topics-issues-and-pitfalls.html#missing-draft-css) there might some problems if you don't include `Draft.css`. I have this same issue, but it's resolved by adding `position: absolute` to the `.public-DraftEditorPlaceholder-root` css class, which is found [in this file](https://github.com/facebook/draft-js

[2016-05-20 21:12] steviesama opened #405 "Draft Editor doesn't always take focus when clicking between it and another control..."
Sometimes it either takes a really long time to get focus after load, or won't let you click inside of it for a while. Later I noticed clicking between it and another control resulted in a similar behavior where it "randomly" won't accept focus. I did, however, notice that if you give focus to the control above it, that you can always tab to the draft editor to give it focus.

[2016-05-20 21:35] steviesama commented on #403
I tried the position: absolute thing. It had no effect for me.

[2016-05-20 21:39] steviesama commented on #405
I think reading an issue in the draft-js-plugins repo, that I have narrowed this down. It's not that it doesn't take focus, it is that I was expecting it to receive focus if I click anywhere inside the text area, and it only takes click focus if you click in the left most portion of the text area inside the editor. It must not be the size of the entire (seemingly) editable area.

[2016-05-20 21:57] steviesama commented on #405
Narrowed it down a little further. It's not just the left side that will take focus, it's as if there is only a single line container that is text height, that will accept focus. If your min height is more than 1 line of text tall, any other location inside of the text area that you click will not give focus. I've seen live demos of like these on Heroku and I have checked them out and it doesn't b

[2016-05-21 01:26] spicyj commented on #401
Make sure you've included the CSS; it includes a style that makes `.public-DraftEditorPlaceholder-root` gray. You can also add styles to that class manually (and anything with "public" in the name).

[2016-05-21 01:26] #401 closed

[2016-05-21 01:42] ianstormtaylor commented on #399
Yeah, I'm pretty sure it does. You have to do a hack to get it to work. I do it myself by forcing the selection with `.forceSelection` to whatever the current selection is, which happens to cause a re-render. Not exactly nice, but works okay.

[2016-05-21 01:45] ianstormtaylor opened #406 "`code-block` in nested inside of two `pre` now by default"
I think this might be related to the @mitermayer? It looks like all code blocks are nested inside of two wrapping `<pre>` elements, instead of just one like before. (Tested on the Draft.js example on the website.)

[2016-05-21 02:11] ianstormtaylor opened #407 "copy pasting from one code block to another removes line breaks"
It looks like (tested with the example on the website) if you copy all of the code inside of a code block from one to another, the target code block won't have preserved any line breaks.

![image](https://cloud.githubusercontent.com/assets/311752/15445848/b45fca70-1ebe-11e6-868e-1adbe1323ac4.png)

[2016-05-21 02:38] steviesama commented on #403
Ok...part of it was Draft.css, but not because I didn't include it. I'm using webpack for one, and if you include the css, it renames all of the class names with the appended identifiers, and considering that draft.js is generating the class names dynamically, they weren't on statically defined elements most likely for it to transforms the element classname references.

I inspected it in chrome, a

[2016-05-21 02:49] steviesama commented on #401
Part of it was Draft.css, but not because I didn't include it. I'm using webpack for one, and if you include the css, it renames all of the class names with the appended identifiers, and considering that draft.js is generating the class names dynamically, they weren't on statically defined elements for it to transform the element classname references.

I inspected it in chrome, and the draft gener

[2016-05-21 02:51] steviesama commented on #405
Turns out that only the draft root was getting focus.

The problem there is I had the focus code in the wrong place. I'll add a screen shot of my changes below. What fixed it is writing the focus method, and making sure it is referenced by the editor containing div's onClick event handler. Div's can't be focused, so be sure it's click, and link it to focus, which puts focus on the editor, the edit

[2016-05-21 05:22] mitermayer commented on #406
@ianstormtaylor, that looks like a bug, i think in order to fix it we need to:

A a solution for it would be to make the 'element' property from the blockRenderMap only responsible for dealing with reverse enginering pasted and converted from html blocks into their respective blockTypes and add a another option that would then define the render. This option could then be nullable which would be si

[2016-05-21 05:25] mitermayer commented on #406
This is happening because we have code-block using a `wrapper` and `element` at the same time.

`src/model/immutable/DefaultDraftBlockRenderMap.js`

[code]

We could just add another option maybe something like `renderElement` this could then be a string for wraping with html, or a react component. This way could even get rid of `getBlockStyle()` and making it also part of the blockRenderMap.

wha

[2016-05-21 13:39] MateuszTrN opened #408 "EditorState.createWithContent causes: "contentState.getBlockMap is not a function" exception"
Hi,
I'm trying to initialize text editor with some HTML. The problem is that the method "createWithContent" throws an error.
My code:

[code]

What I also noticed, when I'm using "createWithContent" RTEEditor component constructor is called twice and first attempt is running without error but second call causes exception.
Using "createEmpty" function does not make two constructor calls and compone

[2016-05-21 13:59] mitermayer commented on #408
You need to do the following:

[code]

[2016-05-21 15:03] MateuszTrN commented on #408
the answer from mitermayer is the solution. Thank you very much :)

[2016-05-21 15:03] #408 closed

[2016-05-22 20:44] johanneslumpe commented on #399
`mergeData` does not mutate `contentState` in any way, as entities are currently stored external to it. The  state is unaware of any changes to entity data. This will change when entities are being moved into the content state.

@joehua87 Multiple editor instances pose no problem, as `DraftEntity` has an internal counter for entity ids.

[2016-05-22 22:55] steviesama commented on #375
Most of the time the browser interprets shift + enter as CRLF inside the inputs that would normally trigger an action or save on pressing enter. Seems to me you might look into that. Maybe there is some higher level binding that is not allowing it to happen.

[2016-05-22 23:34] Umbrellagun opened #409 "More/Clear Documentation"
I would like to preface this with the fact that this feedback is not coming from an expert developer and that Draft.js is a very cool tool that has clearly taken a lot of work and thought, so I absolutely appreciate the open source-ness and work that has been put into it. If I point something out that I believe is an issue that actually has a very good reason behind it that I didn't notice, I am a

[2016-05-23 00:57] steviesama opened #410 "Caret on right side of DraftEditor after clearing text."
I'm using the editor, but it remains on the screen after use. I get the text, store it somewhere else, and clear the editor. The result is the caret is shoved to the right side of the text line. If you type it doesn't end up relocating, but not sure what's up with it. I did EditorState.createEmpty() and replaced the current state with it. Don't know if that is how it should be done or if it affect

[2016-05-23 02:17] steviesama commented on #410
I made a video showing the problem and describing it. I noticed an addition bug. You input 2 keystrokes, at which point the cursor returns to the appropriate position. However, if you enter a backspace, it delete the second character, but the cursor jumps in front of the first character instead of behind it where it should be.

The video:
https://youtu.be/f9BeAssCLR0

[2016-05-23 03:21] steviesama commented on #400
You don't want to make a new EditorState using createEmpty(). I've looking at some issues that talk about this. If you ever have any other metadata attached that references plugins or anything, you'll lose all of that. You should push an empty ContentState like the following.

![push](http://i.imgur.com/fO5A1in.png)

Also, that weight behavior will still happen, even if you do it that way. I had o

[2016-05-23 06:17] steviesama commented on #400
I don't think the editor should behave this way, but I figure out a way for it to work, you want to import Modifier, also SelectionState, and ContentState on top of the standard stuff. Refer to the snippet below.

![Modifier](http://i.imgur.com/frB9EnP.png)

Then, you'll need to set up a selectionState that spans from the beginning of the first block in the editor to the end of the last block; as

[2016-05-23 06:22] steviesama commented on #400
Oops, meant to post that in my issue. Oh well, it's relevant and will fix your issue. Or should.

[2016-05-23 06:23] steviesama commented on #410
I don't think the editor should behave this way, but I figured out a way for it to work, you want to import Modifier, also SelectionState, and ContentState on top of the standard stuff. Refer to the snippet below.

![Modifier](http://i.imgur.com/frB9EnP.png)

Then, you'll need to set up a selectionState that spans from the beginning of the first block in the editor to the end of the last block; as

[2016-05-23 06:24] steviesama commented on #410
I don't know if my solution should be cause to close this issue. I think the push from ContentState.createFromText('') should be addressed.

[2016-05-23 07:06] ouchxp opened #411 "Tweet example freeze after moving cursor"
Type `#@a` in tweet example, move cursor to the left most and then press right, the browser will freeze.
Can reproduce this issue on both Chrome and Safari. Firefox does not have this problem.

[2016-05-23 12:07] steviesama commented on #411
I tried to reproduce this in Chrome on [heroku](http://draftjs-examples.herokuapp.com/) and worked fine.

[2016-05-23 12:47] ouchxp commented on #411
@steviesama
The html file I've been testing is directly cloned from this repo, with all the stylesheets and scripts included.
I went to http://draftjs-examples.herokuapp.com/ and it freeze as well. CPU usage is 100% in the activity monitor. My Chrome version is `Version 50.0.2661.102 (64-bit)` OS is `OS X EL Capitan 10.11.4 (15E65)`, also tried on `Windows 8.1` with latest Chrome, both in regular

[2016-05-23 17:54] spicyj commented on #411
Dupe of #392. I reported it as a browser bug upstream.

[2016-05-23 17:54] #411 closed

[2016-05-23 18:27] spicyj commented on #410
What about doing…

[code]

Does that work? I haven't tried it but I believe it should. Related to #73.

[2016-05-23 18:39] spicyj commented on #400
What about doing…

[code]

Does that work? I haven't tried it but I believe it should. Related to #73.

[2016-05-23 18:45] gdehmlow commented on #400
Yeah that pretty much fixes my issue. Definitely a dupe of #73 so I'll close this.

[2016-05-23 18:45] #400 closed

[2016-05-23 18:52] gdehmlow commented on #409
Having just spent the last week getting up to speed, I agree. I found getting the basics down to be easy enough, but when I started digging through the API / documentation, I noticed a few inconsistencies and confusing points. I definitely want to chip in and help improve it as well.. some of this work [already seems to be happening](https://github.com/facebook/draft-js/pull/387/files).

[2016-05-23 18:53] gdehmlow commented on #410
I'm thinking we should update `createEmpty`'s [documentation](http://facebook.github.io/draft-js/docs/api-reference-editor-state.html#createempty) with a warning about this unexpected behavior

[2016-05-23 18:54] spicyj commented on #409
Thanks for writing up your detailed thoughts. I think we would definitely be in favor of improving this but it's not always clear the best way to change things to make them clearer. It's also sometimes difficult for people who are familiar with the concepts to keep track of what concepts have and haven't been introduced and describe things in a logical progression, but hopefully we can get to a po

[2016-05-23 19:19] ianstormtaylor commented on #406
For what it's worth, I think `element` would be more clear as "match" or similar that conveys it's actually just used to find an element from pasted html.

But even then, I think it would also be better as a function that could perform slightly more complex logic, for example `figure` would be used for images, videos, or any other type of block, and just matching by element type isn't really enoug

[2016-05-23 21:34] CLowbrow commented on #237
You could try to mutate your html to have the href attributes start with "http://www.yourdomain.com" and then pass it through? Is it failing for every possible link or just certain forms?

[2016-05-23 22:23] Umbrellagun commented on #409
Awesome, I'm glad I'm not entirely out in left field.

As I'm working with it now, I've come across another one. Although it is used in a code example on the SelectionState documentation page under "Properties", there is no direct documentation for the "merge" function that can be called on SelectionState, nor is it mentioned or used anywhere else in the docs. I thought it was very easy to underst

[2016-05-23 22:59] ouchxp commented on #246
Would love to have conditional inline styles, we are using decorator to do real time validation (regex check) of markers. (Correct markers in green, otherwise in red etc.) Currently we have to implement it using a decorator, but it has conflict with Link decorator, since decorator cannot be nested by default.
I solved that by using a customized decorator class which allow decorator nesting, but it

[2016-05-24 00:15] steviesama commented on #410
@spicyj I've tried something like that before and it didn't. Not sure I tried `moveFocusToEnd `with `createFromText('')`. I'll give it a shot.

[2016-05-24 00:18] steviesama commented on #410
@spicyj I tried that out. Not only did it not work, but it didn't actually delete any text from the editor either.

[2016-05-24 00:22] steviesama commented on #410
@spicyj The only push related call that is similar to that that removes text at all is the first thing I did a while ago:

![push](http://i.imgur.com/fO5A1in.png)

However, this is the one that causes that caret behavior. Along with just plain `this.state.editorState = EditorState.createEmpty()` both give the same weird caret results. I did the latter first.

[2016-05-24 00:30] steviesama commented on #400
I posted a response to this on #410.

[2016-05-24 03:37] huangbong opened #412 "After removing an inline style at the end of a string and then hitting return, the inline style remains"
Using underline as an example:

![](http://g.recordit.co/OejE1iOcsm.gif)

When you hit return the Underline becomes highlighted again and the corresponding typed text on the next line is underlined.

[2016-05-24 06:00] Umbrellagun commented on #409
Just making another quick note on one more that I found, even for myself, in order to make a pull request later. The Overview for Entity documentation says that .create() returns a DraftEntityInstance, but under the actual method is says it returns a string.

[2016-05-24 09:19] frenzzy opened #413 "Possibility to override the core class names"
[src/component/base/DraftEditor.react.js](https://github.com/facebook/draft-js/blob/1ce48f67728681fcb7c24a73ac26fa8b97a6e909/src/component/base/DraftEditor.react.js#L217-L220) uses a special class names, for example:
- `DraftEditor/root`
- `DraftEditor/editorContainer`
- `public/DraftEditor/content`
- etc

But how we can see at [facebook.com](https://www.facebook.com/), it uses minimized 5-digit n

[2016-05-24 10:28] Soreine opened #414 "Decorators with arbitrary ranges makes editing unstable"
Hello,
I have been struggling with decorators recently. When decorators decorate arbitrary spans of characters (that do not match words), editing those same spans results in weird behaviors from the editor.

Here is a [Gist of a single HTML](https://gist.github.com/Soreine/9ab8dbd7390fdc7c33517c2c57368431) page with simple code to reproduce the issue. The Gist shows an editor with the first 10 cha

[2016-05-24 11:43] DouglasLivingstone opened #415 "Inline styles not recognised if the selection starts on a blank line"
![togglebold](https://cloud.githubusercontent.com/assets/350322/15502502/3a411a1e-21ac-11e6-9f0d-ed4c4f0c4c97.gif)

To reproduce:

1. Press return inside the text box
2. Type on the second line
3. Select all the text
4. Press to toggle bold on (note that it doesn't go blue)
5. Press to toggle bold off

Step 5 doesn't work, the text stays bold. Seems to be due to the selection starting on a blank l

[2016-05-24 17:06] maxmatthews opened #416 "Pasting Rich Text Into Chrome (Mac) Adds A Space On Either Side"
When pasting rich text into Chrome it adds a space on either side of the string (first screenshot). When pasting in any other browser (Safari or Firefox) it behaves fine (second screenshot). It seems that Chrome is using the HTML text and the others are using plain text.
Is there a way to get Chrome to trim the string on paste? Tried using `handlePastedText` but I'm not sure how to update the stat

[2016-05-24 18:23] spicyj commented on #415
Interesting bug, thanks for reporting.

[2016-05-24 18:27] spicyj commented on #413
This ties into our internal CSS build system and it's not going to be practical for us to support this in open source – it's unlikely that it will make a practical difference for anyone so hopefully it isn't a big deal for you. If you're interested, we statically transform calls to `cx()` using a Babel transform that replaces the class names with a minified version. (We never reference classes wit